





  
  /*Research Programs*/

  .researchprograms-hero-section{
    position: relative;
    height: 100vh;
    background: url(../images/banner-img/banner-9.JPG); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .researchprograms-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
  .researchprograms-hero-inner{
    max-width: 800px;
    position: relative;
  }
  
  .researchprograms-hero-inner h1{
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 52px;
    font-weight: 700;
  }
  

  /*Research Permits*/

  .researchpermits-hero-section{
    position: relative;
    height: 100vh;
    background: url(../images/gonarezhou/3.JPG); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .researchpermits-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
  .researchpermits-hero-inner{
    max-width: 800px;
    position: relative;
  }
  
  .researchpermits-hero-inner h1{
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 52px;
    font-weight: 700;
  }
  

/*Reseaarch Partners*/
  .researchpartners-hero-section{
    position: relative;
    height: 100vh;
    background: url(../images/gonarezhou/5.JPG); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .researchpartners-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
  .researchpartners-hero-inner{
    max-width: 800px;
    position: relative;
  }
  
  .researchpartners-hero-inner h1{
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 52px;
    font-weight: 700;
  }
  
  

  /*Research Management*/

.researchmanage-hero-section{
    position: relative;
    height: 100vh;
    background: url(../images/banner-img/banner-10.jpg); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
.researchmanage-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
.researchmanage-hero-inner{
    max-width: 800px;
    position: relative;
  }
  
.researchmanage-hero-inner h1{
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 52px;
  font-weight: 700;
  }
  
  
  
