/*Utility*/
:root {
    --main-color: #d3ad7f;
    --yellow: #e9ea0c;
    --green: #013220;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --white: #ffffff;
    --text-color: #444;
    --bg1: #e8eae3;
    --bg2: #f5f5f5;
  /*   --great-vibes: 'Great Vibes', cursive;
    --open-sans: 'Open Sans', sans-serif;
    --nanum: 'Nanum Myeongjo', serif;
    --parisienne: 'Parisienne', cursive; 
    --lato: 'Lato', sans-serif;
   --linear-gradient:   background: linear-gradient(rgba(1, 50, 32, 0.4), rgba(1, 50, 32, 0.4));*/
  }




  .contact-hero-section{
    position: relative;
    height: 100vh;
    background: url(../images/gonarezhou/4.JPG); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .contact-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
  .contact-hero-inner{
    max-width: 700px;
    position: relative;
  }
  
  .contact-hero-inner h1{
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
  }
  
  .contact-hero-inner .logo {
    color: white;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: none;
    letter-spacing: 5px;
    z-index: 100;

  }

  .contact-map .logo {
    z-index: 100;
  }
  
  .contact-hero-inner .sub-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--green);
  }

  .contact .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.contact .info i {
    font-size: 20px;
    color: var(--green);
    float: left;
    width: 44px;
    height: 44px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--heading-text-color);
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--text-color);
}
  



