/*National Parks Page*/
.national_parks-page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .national_parks-page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .national_parks-page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*Content part of cards*/
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  color: #ffffff;
}

.content > * + * {
  margin-top: 1rem;
}

.national_parks-page-content .title {
  top: 0;
  font-size: 1rem;
  line-height: 1.2;
  color: #ffffff;
}

.copy {
  font-family: var(--font-serif);
  font-size: 15px;
  font-style: italic;
  line-height: 1.35;
  color: #ffffff;
}

.btn > a {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--green);
  border: none;
}


.btn > a:hover {
  background-color: #0d0d0d;
}



@media (hover: hover) and (min-width: 600px) {
  .national-parks-card:after {
    transform: translatey(0);
  }

  .content {
    transform: translatey(calc(100% - 4.5rem));
  }

  .content > *:not(.title) {
    opacity: 0;
    transform: translatey(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .national-parks-card:hover, .national-parks-card:focus-within {
    align-items: center;
  }

  .national-parks-card:hover:before, .national-parks-card:focus-within:before {
    transform: translatey(-4%);
  }

  .national-parks-card:hover:after, .national-parks-card:focus-within:after {
    transform: translatey(-50%);
  }

  .national-parks-card:hover .content, .national-parks-card:focus-within .content {
    transform: translatey(0);
  }

  .national-parks-card:hover .content > *:not(.title), .national-parks-card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translatey(0);
    transition-delay: calc(var(--d) / 8);
  }

  .national-parks-card:focus-within:before, .national-parks-card:focus-within:after, .national-parks-card:focus-within .content, .national-parks-card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}


  /*National Parks*/
.national-parks-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 600px) {
  .national-parks-card {
    height: 250px;
   
  }
}
.national-parks-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.national-parks-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  */
  transform: translatey(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

/*Gonarezhou National Park*/
.national-parks-card:nth-child(1):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/gonarezhou/homebanner.JPG);
}

/*Hwange National Park*/
.national-parks-card:nth-child(2):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/hwange/hwange-homebanner.JPG);
}

/*Matusadonha National Park*/
.national-parks-card:nth-child(3):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/matusadonha/matusa-homebanner.jpg);
}

/*Chimanimani National Park*/
.national-parks-card:nth-child(4):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/chimanimani/chimanimani-homebanner.JPG);
}


/*Nyanga National Park*/
.national-parks-card:nth-child(5):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/nyanga/nyanga-homebanner.JPG);
}

/*Matopos National Park*/
.national-parks-card:nth-child(6):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/matobo/matopos-1.JPG);
}

/*Zambezi National Park*/
.national-parks-card:nth-child(7):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/zambezi/zambezi-homebanner.jpg);
}

/*Victoria Falls National Park*/
.national-parks-card:nth-child(8):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/victoriafalls/falls-homebanner.jpg);
}

/*Chizarira National Park*/
.national-parks-card:nth-child(9):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/chizarira/chizarira-hommerbanner.JPG);
}

/*Mana Pools National Park*/
.national-parks-card:nth-child(10):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/manapools/manapools-homebanner.JPG);
}

/*Kazuma Pan National Park*/
.national-parks-card:nth-child(11):before {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/nationalparks/kazumapan/kazumapan-homebanner.png);
}


/*Heros Section for Chimanimani National Park*/
.chimanimani-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/chimanimani/chimanimani-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.chimanimani-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.chimanimani-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.chimanimani-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*Chimanimani National Park Overview*/

.chimanimani-overview {
background-image: url("../images/nationalparks/chimanimani/homebanner.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;

}

/*Heros Section for chizarira National Park*/
.chizarira-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/chizarira/chizarira-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.chizarira-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.chizarira-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.chizarira-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*chizarira National Park Overview*/
.chizarira-overview {
  background-image: url("../images/nationalparks/chizarira/homebanner.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 100vh;
  
  }

  /*Heros Section for kazumapan National Park*/
.kazumapan-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/kazumapan/kazumapan-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.kazumapan-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.kazumapan-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.kazumapan-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*kazumapan National Park Overview*/

.kazumapan-overview {
background-image: url("../images/nationalparks/kazumapan/homebanner.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;

}

/*Heros Section for manapools National Park*/
.manapools-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/manapools/manapools-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.manapools-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.manapools-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.manapools-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*Mana Pools National Park Overview*/
.manapools-overview {
background-image: url("../images/nationalparks/manapools/homebanner.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;

}

/*Heros Section for matopos National Park*/
.matopos-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/matopos/matopos-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.matopos-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.matopos-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.matopos-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*matopos National Park Overview*/

.matopos-overview {
background-image: url("../images/nationalparks/matopos/homebanner.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;

}

/*Heros Section for nyanga National Park*/
.nyanga-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/nyanga/nyanga-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.nyanga-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.nyanga-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.nyanga-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*nyanga National Park Overview*/

.nyanga-overview {
background-image: url("../images/nationalparks/nyanga/homebanner.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;

}

/*Heros Section for victoriafalls National Park*/
.victoriafalls-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/victoriafalls/victoriafalls-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.victoriafalls-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.victoriafalls-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.victoriafalls-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*victoriafalls National Park Overview*/

.victoriafalls-overview {
background-image: url("../images/nationalparks/victoriafalls/homebanner.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;

}


/*Heros Section for Gonarezhou National Park*/
.gonarezhou-hero-section{
    position: relative;
    height: 90vh;
    background: url(../images/gonarezhou/homebanner.JPG); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .gonarezhou-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
  .gonarezhou-hero-inner{
    max-width: 700px;
    position: relative;
    left: 0;
  }
  
  .gonarezhou-hero-inner h2{
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
  }
  
 /*Gonarezhou National Park Overview*/

 .gonarezhou-overview {
  background-image: url("../images/gonarezhou/homebanner.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 100vh;

 }


 /*Hwange National Park*/

 /*Heros Section for Hwange National Park*/
.hwange-hero-section {
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/hwange/hwange-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.hwange-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.hwange-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.hwange-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Hwange National Park Overview*/

.hwange-overview {
background-image: url("../images/nationalparks/hwange/hwange-1.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;
}


/*Zambezi National Park*/
/*Heros Section for Zambezi National Park*/
.zambezi-hero-section{
position: relative;
height: 90vh;
background: url(../images/nationalparks/zambezi/zambezi-homebanner.JPG); /*background image*/
background-size: cover;
background-position: center;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
}

.zambezi-hero-section:before{
opacity: 0.35;
background: rgba(0, 0, 0, 0.45);
}

.zambezi-hero-inner{
max-width: 700px;
position: relative;
left: 0;
}

.zambezi-hero-inner h2{
color: #ffffff;
margin-bottom: 30px;
font-size: 48px;
font-weight: 700;
text-transform: capitalize;
}

/*Zambezi National Park Overview*/
.zambezi-overview {
background-image: url("../images/nationalparks/zambezi/zambezi-1.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;
}

/*National Parks Gallery*/

.trans
{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top
{
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}
.top ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li
{
	position: relative;
	float: left;
	width: 25%;
	height: 33.333%;
	overflow: hidden;
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
	background-size: contain;
	background-position: center;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}



  