/*Heros Section for Gonarezhou National Park*/
.gonarezhou-hero-section{
    position: relative;
    height: 90vh;
    background: url(../images/gonarezhou/homebanner.JPG); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .gonarezhou-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
  .gonarezhou-hero-inner{
    max-width: 500px;
    position: relative;
    left: 0;
  }
  
  .gonarezhou-hero-inner h2{
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  .gonarezhou-hero-inner h5 {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: none;
    letter-spacing: 5px;
  }
  
  .gonarezhou-hero-inner .sub-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: var(--green);
  }
 /*Gonarezhou National Park Overview*/

 .gonarezhou-overview {
  background-image: url("../images/gonarezhou/homebanner.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 100vh;

 }


  