

#parks {
    float: left;
    width: 100%;
    position: relative;
    padding: 7em 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }



  .animal-section img {
   height: 120px;
   width: 120px;
   width: 100%;
   object-fit: cover;
   border-radius: 50%;
  }


  /*Animal Section Slide*/

  
.slick-slide{
  margin: 0 20px;
}
.slick-slide img{
  width: 100%;
}
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img{
  display: block;
}
.slick-initialized .slick-slide{
  display: block;
}


  .tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }

  
#tabs {
    float: left;
    width: 100%;
  }
  #tabs .tabs-nav {
    border-bottom: 1px solid #f0f0f0;
    float: left;
    width: 100%;
  }
  #tabs .tabs-nav > a {
    float: left;
    width: 16.666667%;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ccc;
    padding: 10px 0 40px 0;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #tabs .tabs-nav > a > img {
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #tabs .tabs-nav > a > img:before {
    font-size: 40px;
  }
  #tabs .tabs-nav > a > .icon, #tabs .tabs-nav > a > span {
    display: block;
  }
  #tabs .tabs-nav > a > span {
    font-weight: 700;
  }
  #tabs .tabs-nav > a.active {
    color: var(--green);
    border-bottom: 1px solid var(--green);
  }
  #tabs .tabs-nav > a.active .icon {
    color: var(--green);
  }
  #tabs .tabs-nav > a:hover {
    text-decoration: none;
    color: var(--green);
  }
  #tabs .tabs-nav > a:hover .icon {
    color: var(--green);
  }
  #tabs .tabs-nav > a:focus, #tabs .tabs-nav > a:active {
    outline: none;
    text-decoration: none !important;
  }
  #tabs .tabs-nav > a:focus > .icon, #tabs .tabs-nav > a:focus > span, #tabs .tabs-nav > a:active > .icon, #tabs .tabs-nav > a:active > span {
    text-decoration: none !important;
  }
  #tabs .tab-content-container {
    position: relative;
    width: 100%;
    float: left;
    padding-top: 40px;
  }
  #tabs .tab-content-container .tab-content {
    position: absolute;
    width: 100%;
    float: left;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  #tabs .tab-content-container .tab-content.show {
    opacity: 1;
  }
  #tabs .heading {
    font-size: 40px;
    color: #52565b;
    margin: 0 0 30px 0;
    padding: 0;
  }
  #tabs .super-heading-sm {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #bcbcbc;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  
