



:root {
  --yellow: #e9ea0c;
  --green: #013220;
  --green2: rgb(1, 99, 63);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --white: #ffffff;
  --text-color: #333;
  --gray-dark: #191919;
  --heading-text-color: #19171a;
  --bg1: #fff;
  --bg2: #fff;
  --body-background: #ffffff;
  --primary-background: #ffffff;
  --white-background:#ffffff;
  font-size: 16px;
  --card-img-height: 200px;
  --scale: 0.1;
  --space: 8vmin;
}

.slide-caption h6 {
  margin-top: 0px;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
.slide-caption h2 {
  color: var(--yellow);
  letter-spacing: 0.8px;
  font-style: italic;
  font-family: 'Playfair Display';
  margin-top: 0px;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 900;
}



#parks {
    float: left;
    width: 100%;
    position: relative;
    padding: 50px 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: var(--primary-background)
  }


  .animal-section {
    background-color: #f9f9f9;
    padding: 70px 0;
  }

  /*
  .animal-section img {
   height: 100px;
   width: 100%;
   object-fit: cover;
   border-radius: 50%;
  }
*/


  .animal-attractions {
    padding: 3% 0;
  }


  .wildlife-section {
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  @media (max-width: 768px) {
    .wildlife-section {
      height: 100px;
      width: 100%;
      margin-bottom: 10px;
    }
  }



  



/*Tabs Section*/

  .tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }

  
#tabs, 
#tabs-2 {
    float: left;
    width: 100%;
  }


  #tabs .tabs-nav, 
  #tabs-2 .tabs-nav {
    border-bottom: 1px solid #f0f0f0;
    float: left;
    width: 100%;
  }
  #tabs .tabs-nav > a,
  #tabs-2 .tabs-nav > a {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-size: clamp(1rem, 0.9875rem + 0.0625vw, 1.0625rem);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ccc;
    padding: 10px 0 40px 0;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  @media (max-width: 767px) {
    #tabs .tabs-nav > a > img {
      display: none;
    }

    #tabs .tabs-nav > a,
    #tabs-2 .tabs-nav > a {
      padding: 20px 0 20px 0;
    }
  }



  @media (min-width: 768px) {
    #tabs .tabs-nav > a  {
      width: 20%
    }
    #tabs-2 .tabs-nav > a  {
      width: 25%
    }
  }
  #tabs .tabs-nav > a > img {
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    filter: invert(85%) sepia(0%) saturate(59%) hue-rotate(154deg) brightness(95%) contrast(97%);
  }

  #tabs .tabs-nav > a.active img, 
  #tabs .tabs-nav > a:hover img  {
    filter: invert(13%) sepia(39%) saturate(1854%) hue-rotate(127deg) brightness(101%) contrast(107%);
  
  }
  #tabs .tabs-nav > a > img:before {
    font-size: 40px;
  }
  #tabs .tabs-nav > a > .icon, #tabs .tabs-nav > a > span,
  #tabs-2 .tabs-nav > a > .icon, #tabs-2 .tabs-nav > a > span {
    display: block;
  }
  #tabs .tabs-nav > a > span,
  #tabs-2 .tabs-nav > a > span {
    font-weight: 500;
    font-size: 1.1875rem;
    font-size: clamp(1.1875rem, 1.1375rem + 0.25vw, 1.4375rem);
    letter-spacing: 1px;
  }
  #tabs .tabs-nav > a.active,
  #tabs-2 .tabs-nav > a.active {
    color: var(--green);
    border-bottom: 1px solid var(--green);
  }
  #tabs .tabs-nav > a.active .icon {
      filter: invert(13%) sepia(39%) saturate(1854%) hue-rotate(127deg) brightness(101%) contrast(107%);
  }
  #tabs .tabs-nav > a:hover,
  #tabs-2 .tabs-nav > a:hover {
    text-decoration: none;
    color: var(--green);
  }
  #tabs .tabs-nav > a:hover .icon {
    color: var(--green);
  }
  #tabs .tabs-nav > a:focus, #tabs .tabs-nav > a:active,
  #tabs-2 .tabs-nav > a:focus, #tabs-2 .tabs-nav > a:active {
    outline: none;
    text-decoration: none !important;
  }
  #tabs .tabs-nav > a:focus > .icon, #tabs .tabs-nav > a:focus > span, #tabs .tabs-nav > a:active > .icon, #tabs .tabs-nav > a:active > span ,
  #tabs-2 .tabs-nav > a:focus > .icon, #tabs-2 .tabs-nav > a:focus > span, #tabs-2 .tabs-nav > a:active > .icon, #tabs-2 .tabs-nav > a:active > span {
    text-decoration: none !important;
  }

  #tabs .tab-content-container,
  #tabs-2 .tab-content-container {
    position: relative;
    width: 100%;
    float: left;
    padding-top: 40px;
    background-color: var(--primary-background);
  }
  #tabs .tab-content-container .tab-content,
  #tabs-2 .tab-content-container .tab-content {
    position: absolute;

    width: 100%;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: var(--primary-background);
  }
  #tabs .tab-content-container .tab-content.show,
  #tabs-2 .tab-content-container .tab-content.show {
    opacity: 1;
  }
  #tabs .heading {
    font-size: 40px;
    color: #52565b;
    margin: 0 0 30px 0;
    padding: 0;
  }

  #tabs .tab-content-container {
    min-height: 100%;
  }
  #tabs .super-heading-sm {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #bcbcbc;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  

  /*National Parks Grids*/
.national_park-grids {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  grid-gap: 2em;
  max-width: 1600px;
  margin: 0 0;
  padding: 1em;
}

.national_park-grids .national_park-grid {
  display: flex;
  flex-flow: column nowrap;
}

.national_park-grids .national_park-grid:nth-child(1) {
  grid-column-end: span 12!important;
}

.national_park-grids .national_park-grid:nth-child(2) {
  grid-column-end: span 12!important;
}

.national_park-grids .national_park-grid .image {
  display: block;
  flex: 1 1 auto;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}


@media (min-width: 768px) {

  .national_park-grids .national_park-grid:nth-child(1) {
    grid-column-end: span 7!important;
  }
  
  .national_park-grids .national_park-grid:nth-child(2) {
    grid-column-end: span 5!important;
  }
}


/*End National Parks Grid*/

/*Activities*/
.activities-cols{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  grid-gap: 2em;
  max-width: 1600px;
  margin: 0 0px;
  padding: 1em;
}

.activities-cols .activities-col{
  display: flex;
  flex-flow: column nowrap;
  grid-column-end: span 4;
  margin-bottom: 100px;
}

.activities-container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

}


@media (max-width: 1200px) {
  .activities-cols .activities-col {
    grid-column-end: span 4;
  }

}

@media (max-width: 900px) {
  .activities-cols .activities-col {
    grid-column-end: span 4;
  }
}

@media (max-width: 600px) {
  .activities-cols .activities-col {
    grid-column-end: span 12 !important;
  }
}

.activities-front,
.activities-back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	height: 400px;

	color: #fff;
	font-size: 1.5rem;
}

.activities-back{
  background: var(--green);
  background: -webkit-linear-gradient(45deg,  var(--green) 0%, var(--green) 100%);
  background: -o-linear-gradient(45deg,  var(--green) 0%, var(--green) 100%);
  background: linear-gradient(45deg,  var(--green) 0%, var(--green) 100%);
}

.activities-front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

}
.activities-container:hover .activities-front,
.activities-container:hover .activities-back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.activities-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.activities-inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.activities-container .activities-back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.activities-container .activities-front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.activities-container:hover .activities-back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.activities-container:hover .activities-front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.activities-front .activities-inner p{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.activities-front .activities-inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #ffffff;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.activities-front .activities-inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .activities-col{
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .activities-col{
    width: calc(100% - 2rem);
  }
}


/*Accomodation Campsite Slider*/

#top {
  padding-top: 70px;
}

.second_background {
  background-color: #bcbcbc;
}

#top .col-lg-4,
#top .col-lg-8 {
  padding: 0px;
}

#top .left-content {

  width: 100%;
  height: 100%;
}

#top .centered-element {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#top .left-content h4 {
  font-family: 'Dancing Script', cursive;
  color:var(--text-color);
  font-size: 34px;
  font-weight: 500;
}

#top .centered-element h6 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 3px;
  margin-top: 5px;
}
  

/* ==== Slider Style === */
.Modern-Slider .item .img-fill{
  position: relative;
  height:100vh;
  max-height: 500px;
}

.Modern-Slider .item .img-fill:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.Modern-Slider .item .img-description {
  padding: 0 24px 12px;
  color: #fff;
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.Modern-Slider .item .img-fill .img-description  {
  transform: none;
  -webkit-transform: none;
}

.img-description h4 {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Playfair Display';
  font-style: italic;
}

.Modern-Slider .item .info > div{
  display:inline-block!important;
  vertical-align:middle;
}

.Modern-Slider .NextArrow {
  position:absolute;
  top:50%;
  transform: translateY(-25px);
  right:30px;
  width: 50px;
  height: 50px;
  background-color: var(--green);
  border:0 none;
  line-height: 44px;
  border-radius: 50%;
  text-align:center;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  opacity: 0.3;
  transition: all .3s;
}

.Modern-Slider .NextArrow:hover {
  opacity: 1;
}

.Modern-Slider .NextArrow:before{
  content:'\f105';
}

.Modern-Slider .PrevArrow {
  position:absolute;
  top:50%;
  transform: translateY(-25px);
  left:30px;
  width: 50px;
  height: 50px;
  background-color: var(--green);
  border:0 none;
  line-height: 44px;
  border-radius: 50%;
  text-align:center;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  opacity: 0.3;
  transition: all .3s;
}

.Modern-Slider .PrevArrow:hover {
  opacity: 1;
}

.Modern-Slider .PrevArrow:before{
  content:'\f104';
}

ul.slick-dots {
  display: none!important;
}

.Modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider .buttons {
  position: relative;
}


.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}


.main-white-button a {
  font-size: 13px;
  color: #fff;
  background-color: var(--green) ;
  padding: 12px 25px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
}

.main-white-button a:hover {
  opacity: 0.9;
}

#reservation .section-heading {
  margin-bottom: 30px;
}

#reservation .section-heading h6 {
  color: #fff;
}

#reservation .section-heading h2 {
  color: #fff;
  font-weight: 700;
}

#reservation .section-heading h6:before {
  background-color: #fff;
}

#reservation p {
  color: #fff;
  margin-bottom: 65px;
}

#reservation {
  margin-top: 120px;
  padding: 120px 0px;
  background-image: url(../images/gonarezhou/Activities/gamedrive.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




.testimonial {
  background-color: #fff;
}

.testimonial_Carousel {
  background: #4d4f12;
  padding: 100px 45px;
}

.margin_boot {
  padding-right: 0;
}

.testimonial_box .titlepage {
  text-align: left;
  padding-bottom: 30px;
}

.testimonial .titlepage h2 {
  color: #313131;
}

.testimonial_box p {
  color: #313131;
  font-size: 17px;
  line-height: 30px;
}

.testimonial_Carousel .carousel-caption {
  position: inherit;
  padding: 0;
}

.testimonial_box {
  text-align: left;
  padding: 0px 10px 0px 20px;
}

.test_box {
  padding: 30px 25px;
  background: #fff;
}

.testimonial_Carousel .test_box h4 {
  font-size: 25px;
  color: var(--green);
  line-height: 20px;
  display: block;
  text-align: center;
  font-weight: 600;
  padding: 0;
  padding-top: 8px;
}

.testimonial_Carousel .test_box p {
  font-size: 17px;
  line-height: 28px;
  color: #222122;
  text-align: center;
  padding-top: 20px;
}

.testimonial_Carousel .carousel-indicators {
  bottom: 50px;
}

.testimonial_Carousel .carousel-indicators li {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
}

.testimonial_Carousel .carousel-indicators li.active {
  background: #f9c40b;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}





/*Accomodation Section*/

/** latest_news section **/

.latest_news {
  padding: 0 0 50px 0;
}

.latest_news .titlepage {
  text-align: center;
}

.latest_news .titlepage p {
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
}

.latest_news .news_box {
  text-align: left;
  background-color: var(--primary-background);
  margin-bottom: 30px;
  transition: ease-in all 0.5s;
}

.latest_news .news_box .news_img figure {
  margin: 0;
  padding: 0px 30px 0 0;
}

.latest_news .news_box .news_img figure img {
  width: 100%;
}

.mr_le figure {
  margin-left: 0 !important;
  margin-right: -195px !important;
  padding: 0px 0px 0 30px !important;
}

.latest_news .news_box .news_room {
  padding: 15px 30px;
  text-align: left;
}

.latest_news .news_box .news_room h3 {
  color: #252525;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  transition: ease-in all 0.5s;
  margin: auto;
  padding-top: 15px;
}


.latest_news .news_box .news_room p {
  font-size: 16px;
  color: #252525;
  font-weight: 400;
  margin-bottom: 0px;
  display: block;
  transition: ease-in all 0.5s;
}

.latest_news .news_box .news_room ul li {
  display: inline-block;
}

.latest_news .news_box .news_room ul li a {
  transition: ease-in all 0.5s;
  display: inline-block;
  font-size: 15px;
  padding-right: 30px;
}

.latest_news .news_box .news_room ul li a i {
  padding-left: 5px;
}

.latest_news .news_box .news_room ul li a:hover {
  color: #16e816 !important;
}

.latest_news .news_box .news_room ul li:last-child a {
  padding-right: 0;
}

.latest_news .news_box .news_room p {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.6px;
  font-weight: 400;
  color: #1b1b1b;
  transition: ease-in all 0.5s;

}


.latest_news .read_more {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}


/** end latest_news section **/

/** gallery  section **/



.park_accomodation .titlepage {
  text-align: center;
}

.park_accomodation .titlepage p {
  color: #2a2b2a;
  display: block;
  padding-top: 20px;
}

.park_accomodation .park_accomodation-img {
  overflow: hidden;
  margin-bottom: 30px;
}

.park_accomodation .park_accomodation-img figure {
  margin: 0;
}

.park_accomodation .park_accomodation-img figure img {
  width: 100%;
  transition: all .5s;
}

.park_accomodation .park_accomodation-img figure img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.park_accomodation-text {
  text-align: center;
  background-color: #2a2b2a;
  height: 369px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.park_accomodationh3 h3 {
  font-size: 24px;
  font-family: 'Playfair Display';
  font-style: italic;
  letter-spacing: 0.7px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
}

.park_accomodationh3 p {
  font-size: 17px;
  line-height: 31px;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .park_accomodation-text {
    height: 308px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .park_accomodation-text {
    height: 233px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .park_accomodation-text {
    height: 264px;
  }
}

@media (max-width: 575px) {
  .park_accomodation-text {
    height: 264px;
    margin-bottom: 30px;
}
}
/** end gallery  section **/



.section .content {
  color: #ffffff;
  position: relative;
  margin: -80vh auto 0;
  padding: var(--space);
  max-width: 100ch;
  width: calc(100% - var(--space));
  background: hsla(5, 15%, 5%, 0.9);
}

.section .content > * + * {
  margin-top: 1rem;
}

.section .image-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.section .image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    hsla(5, 15%, 5%, 0) 0%,
    hsla(5, 15%, 5%, 0.013) 8.1%,
    hsla(5, 15%, 5%, 0.049) 15.5%,
    hsla(5, 15%, 5%, 0.104) 22.5%,
    hsla(5, 15%, 5%, 0.175) 29%,
    hsla(5, 15%, 5%, 0.259) 35.3%,
    hsla(5, 15%, 5%, 0.352) 41.2%,
    hsla(5, 15%, 5%, 0.45) 47.1%,
    hsla(5, 15%, 5%, 0.55) 52.9%,
    hsla(5, 15%, 5%, 0.648) 58.8%,
    hsla(5, 15%, 5%, 0.741) 64.7%,
    hsla(5, 15%, 5%, 0.825) 71%,
    hsla(5, 15%, 5%, 0.896) 77.5%,
    hsla(5, 15%, 5%, 0.951) 84.5%,
    hsla(5, 15%, 5%, 0.987) 91.9%,
    hsl(5, 15%, 5%) 100%
  );
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*Park Entry Fees*/


.table_wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1199px;
}

.table_wrapper .table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table_wrapper .table {
    display: block;
  }
}


.table_wrapper .row {
  display: table-row;
  background: #f6f6f6;
}
.table_wrapper .row:nth-of-type(odd) {
  background: #e9e9e9;
}
.table_wrapper .row.table-header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.table_wrapper .row.green {
  background: var(--green);
}

@media screen and (max-width: 580px) {
  .table_wrapper .row {
    padding: 14px 0 7px;
    display: block;
  }
  .table_wrapper .row.table-header {
    padding: 0;
    height: 6px;
  }
  .table_wrapper .row.table-header .cell {
    display: none;
  }
  .table_wrapper .row .cell {
    margin-bottom: 10px;
  }
  .table_wrapper .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.table_wrapper .row .cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .table_wrapper .row .cell {
    padding: 2px 16px;
    display: block;
  }
}



/*GALLERY*/


/*
images wrapper

  @media (max-width: 768px) {
    .wildlife-section {
      height: 100px;
      width: 100%;
      margin-bottom: 10px;
    }
  }

*/


.gallerywrapper {
  display: block;
  width: 100%;
  -moz-columns: 1;
       columns: 1;
  -moz-column-gap: 0;
       column-gap: 0;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  margin: 20px 0 50px;
}
@media (min-width: 600px) {
  .gallerywrapper {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 800px) {
  .gallerywrapper {
    -moz-columns: 3;
         columns: 3;
  }
}

.grid-image {
  float: left;
  width: 100%;
  padding: 4px;
}
.grid-image img {
  float: left;
  width: 100%;
}

.zoom-wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

.zoom-wrapper:target {
  display: flex;
}

@-webkit-keyframes top-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes top-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.zoom-wrapper__image {
  position: relative;
  width: 80%;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation */
  -webkit-animation-name: top-animation;
          animation-name: top-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.cell {
  box-flex: 1;
  flex: 1 1 auto;
}

.zoom-image {
  max-height: 100%;
}

/*
arrow navigation
*/
.navigation-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  perspective: 1000px;
  perspective-origin: 100% 50%;
}

.navigation-arrow__left {
  left: 0;
}

.navigation-arrow__next {
  right: 0;
}

.navigation-arrow__image {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  transition: transform 0.3s;
}
.navigation-arrow__prev .navigation-arrow__image {
  left: 40px;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
}
.navigation-arrow__next .navigation-arrow__image {
  right: 40px;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
}
.navigation-arrow__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navigation-arrow__prev:hover .navigation-arrow__image, .navigation-arrow__next:hover .navigation-arrow__image {
  transform: rotateY(0deg);
}

.navigation-arrow__icon {
  position: relative;
  display: block;
  width: 40px;
  height: 100px;
  padding: 6px;
  background-color: #ffffff;
}
.navigation-arrow__icon svg.icon {
  top: 50%;
  transform: translateY(-50%);
  fill: #000000;
  position: relative;
  stroke-width: 2;
  stroke: #000000;
}

.zoom-wrapper__close {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  color: #ffffff;
  font-size: 40px;
  text-decoration: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
  
/**/

/*Park Tabs*/
#experienceTab.nav-pills .nav-link.active {
  color: var(--yellow) !important;
  background-color: transparent;
  border-radius: 0px;
  border-left: 3px solid var(--yellow);
}
#experienceTab.nav-pills .nav-link {
  border-radius: 0px;
  border-left: 2px solid #2a2b2a;
}
.date-range {
  letter-spacing: 0.01em;
  color: #2a2b2a;
}

/* STUB  LINKS */
#experienceTab .nav-item a {
  color: #2a2b2a;
  transition: 0.3s eas-in-out;
}
#experienceTab .nav-item a :hover {
  color: var(--yellow);
}

/*Vertical Tabs*/

@media (max-width: 767px) {

.vertical-mdl-tabs .mdl-tabs__tab {
    height: 55px;
    line-height: 25px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

}


.mdl-tabs__panel {
  display: none;
}
.vertical-mdl-tabs {
    margin-top: 30px;
}
.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 85px;
    font-size: 1.1875rem;
    font-size: clamp(1.1875rem, 1.1375rem + 0.25vw, 1.4375rem);  
    line-height: 35px;
    box-sizing: border-box;
    letter-spacing: 2px;
}


.vertical-mdl-tabs .mdl-tabs__tab:hover {
  background: rgba(158, 158, 158, 0.34);
  color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 3px solid var(--green);
}
.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active, .mdl-tabs__panel {
    padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}

.text-center {
  text-align: center;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
   color: var(--green2);
}


/*Activities*/

.activities-image img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.accomodation-image img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}





/*Sticky Titles*/

.panel {
  position: relative;
  min-height: 400px;

}

.panel-sticky {
  background: #66ccff;
  color: white;
  position: sticky;
  top: 0;
  border-top: 5px solid #0099cc;
}



/*description*/

.description-container .description .text p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}


/*Responsive About Page*/
@media (min-width: 1200px) and (max-width: 1340px) {

}

/**/
@media (min-width: 768px) and (max-width: 991px) {


} 

@media (min-width: 576px) and (max-width: 767px) {

}

@media (max-width: 578px) {

}

/*End About Responsive*/

/*Activities*/


.transition-wrapper-2 .transition-card {
  width: 100%;
  height: 360px;
  border-radius: 5px;
  margin: 0 10px 40px;
  padding: 10px;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.transition-wrapper-2 .transition-card:hover {
  transform: translateY(20px);
}
.transition-wrapper-2 .transition-card:hover:before {
  opacity: 1;
}
.transition-wrapper-2 .transition-card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.transition-wrapper-2 .transition-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.transition-wrapper-2 .transition-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.transition-wrapper-2 .transition-card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 1;
  transform: translateY(30px);
  transition: 0.5s;
}
.transition-wrapper-2 .transition-card .info h5 {
  margin-bottom: 30px;
}

.transition-wrapper-2 .transition-card .info  a {
  color: white;
}
.transition-wrapper-2 .transition-card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.transition-wrapper-2 .transition-card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.transition-wrapper-2 .transition-card .info .read_more-white {
  padding: 0.6rem;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.transition-wrapper-2 .transition-card .info .read_more-white:hover {
  background: var(--green);
  color: white;
}
