
/* Mobile Menu */
@media only screen and (max-width: 1400px) {
    .fixed-header {
        top: -46px;
    }
    .main-menu .navigation li a {
        padding: 25px 20px;
    }
    
}

@media only screen and (max-width: 1199px) {
    .main-menu .navigation li a {
        padding: 25px 15px;
    }
    .fixed-header .main-menu .navigation li a {
        padding: 25px 15px;
    }
    .main-menu .navigation > li:last-child {
        margin-right: 0;
    }
    
}


@media only screen and (max-width: 991px) {
    .header-top {
        display: none;
    }
    .fixed-header {
        top: 0;
    }
    .main-menu .navigation li:before {
        content: none;
    }
    .main-header .header-upper .container-fluid {
        padding: 0;
    }
    .main-header .logo-outer {
        position: absolute;
        width: 5px;
        height: 5px;
        top: 0;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    .fixed-header .logo-outer {
        top: 10px;
    }
    .main-menu {
        width: 100%;
    }
    .main-menu .navbar-header {
        display: block;
    }
    .main-menu .navigation {
        overflow: auto;
        margin: 25px 0;
        max-height: 310px;
    }
    .main-menu .navigation li {
        float: none;
        padding: 0 20px;
        border-top: 1px solid var(--yellow);
    }
    .main-menu .navigation li:last-child {
        border-bottom: 1px solid var(--yellow);
    }
    .main-menu .navigation li.dropdown .dropdown-btn {
        color: var(--yellow);
        display: block;
    }
    .main-menu .navigation li a,
    .fixed-header .main-menu .navigation li a {
        padding: 8px 10px;
        line-height: 22px;
        font-weight: 500;
    }
    .main-menu .navigation li a:after {
        display: none;
    }
    .main-menu .navigation li ul {
        position: relative;
        display: none;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;
    }
    .main-menu .navigation li ul:after {
        display: block;
        clear: both;
        content: "";
    }
    .main-menu .navigation li ul li {
        padding: 0 20px;
        border-bottom: none;
    }
    .main-menu .navigation li ul li ul {
        left: auto;
    }
}

/*Statistics*/
@media screen and (min-width: 760px) {
    .stats-card {
      max-width: 90rem;
      display: flex;
      align-items: center;
      padding: 10rem;
    }
  
    .stats-info-left {
      flex: 1;
      padding-right: 3.5rem;
    }
  
    .stats-info-right {
      flex: 1;
      margin-top: 0;
    }
  
    .stat-number {
      font-size: 4rem;
    }
  
    .stat-name {
      font-size: 1.4rem;
    }
  }
  
  /*.stats-card::before {
    content: "";
    width: 90%;
    height: 110%;
    background-color: rgba(230, 226, 221, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }*/

  /*About Us Content*/
/*Contact Section*/
  @media (max-width: 991px) {
    .contact {
      padding: 50px;
    }
  
    .contact-container {
      flex-direction: column;
    }
  
    .contact-container .contactInfo {
      margin-bottom: 40px;
    }
  
    .contact-container .contactInfo,
    .contactForm {
      width: 100%;
    }
  }




  @media screen and (mac-width: 600px) {
      .about-content-column {
          width: 100%;
      }
      
  }
  








@media only screen and (min-width: 1400px) {
    
    
}


@media only screen and (max-width: 1400px) {
    .top-inner {
        padding: 10px 0;
    }
    /*.hero-section {
        height: 630px;
        margin-top: 80px;
        padding-top: 25px;
    }*/
    .page-banner {
        margin-top: 80px;
    }
    .testi-services {
        max-width: 85%;
    }
    
}


@media only screen and (max-width: 1250px) {
    .newsletter form input {
        width: auto;
    }
    
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1270px;
        padding: 0 50px;
    }
    .fun-fact {
        margin-left: 100px;
    }
    
}


@media only screen and (max-width: 1199px) {
    .about-image,
    .about-page .about-image {
        position: relative;
        right: 0;
        width: 100%;
        height: 400px;
        margin-bottom: 55px;
    }
    .about-content {
        padding-bottom: 115px;
    }
    .about-page .about-content {
        padding: 0;
    }
    .services-section {
        padding-top: 115px;
    }
    
}


@media only screen and (min-width: 992px) {
    
    
}


@media only screen and (max-width: 1199px) and (min-width: 992px) { 
    
    
}


@media only screen and (max-width: 991px) {
    .hero-section {
        height: auto;
        margin-top: 70px;
        padding-bottom: 30px;
    }
    .page-banner {
        height: 350px;
        margin-top: 50px;
        padding-bottom: 20px;
    }
    .testi-services {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .testi-service-item {
        margin-top: 30px;
    }
    .testimonial-bg {
        display: none;
    }
    .footer-logo {
        margin: 75px 0 40px;
    }
    
}


@media only screen and (max-width: 767px) {    
    h1 {
        font-size: 40px;
    }
    .service-box {
        margin-bottom: 30px;
    }
    .blog-item {
        margin-bottom: 30px;
    }
    .newsletter {
        display: block;
    }
    .newsletter form {
        margin: 25px 0 10px;
    }
    .recent-news-widget .news-image {
        margin-right: 20px;
    }
    .text-reply .reply {
        margin-left: 15px;
    }
    
}



@media only screen and (max-width: 575px) {
    .newsletter {
        padding: 40px 30px;
    }
    .about-image:after {
        width: 10px;
    }
    .admin-comment {
        padding: 20px;
    }
    .comments-box .text-reply {
        display: block;
        margin-bottom: 30px;
    }
    .comments-box:last-child .text-reply {
        margin-bottom: 0;
    }
    .comments-box .text-reply .reply {
        margin-left: 0;
    }
    
}

@media only screen and (max-width: 480px) {
    .fun-fact {
        padding: 50px 25px;
    }
    
}


@media only screen and (max-width: 450px) {
    .newsletter form {
        display: block;
    }
    .newsletter form input {
        width: 100%;
    }
    .comments-box {
        display: block;
    }
    .comments-avatar {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    .success-content {
        max-width: 65%;
    }
    .success-item i {
        font-size: 60px;
    }
    .count-text {
        font-size: 30px;
        margin-bottom: 10px;
    }

}


@media only screen and (max-width: 400px) {
    .featured-box {
        padding: 40px 25px 30px;
    }
    .testi-authors {
        max-width: 300px;
    }
    .author-item {
        width: 70px;
        height: 70px;
    }
    .recent-news-widget .news-image {
        margin-right: 15px;
    }
    .contact-page h2,
    .contact-info .info-item {
        margin-bottom: 25px;
    }
    
}


@media only screen and (max-width: 375px) {
    .theme-btn, a.theme-btn {
        min-width: auto;
        font-weight: 500;
        padding: 15px 33px;
    }
    .service-content {
        padding: 0 25px 35px;
    }
    .blog-content h3,
    .service-content h3 {
        font-size: 22px;
    }
    .info-item .info-icon {
        margin-right: 15px;
    }
    
}

