/*[Table of contents]
rgb(247, 250, 252);

1. Global Styles
    - font-family
    - h1-h6 font sizes
    - input buttons
    - scrollbar
2. Header Menu
3. Home Page
    -i.    hero section
    -ii.   home welcome section
    -iii.  our park section
    -iv.   explore more section 
    -v.    news update section
    -vi.   statistics section
4. About Us Page
    -i.    hero section
    -ii.   about us section
    -iii.  vision & mission section
    -iv.   mandate section
    -v.    protected areas section 
    -vi.   our leadership section
    -vii.  our partners section
5. Header & Breadcrumbs
6. Content Elements
    - Latest Offers
    - Special Offers
    - Isotope
    - Team
    - Testimonials
    - Brand Section
    - Car Body Types
    - Image Points
    - Carousel
    - News
    - Calculator
7. Blog
    - Blog
    - Post
    - Comments
8. Footer
*/

/*@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Nanum+Myeongjo:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Parisienne&display=swap');


font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Parisienne', cursive; 


}



*/


/**************************02. MENU******************************************************/
/************************************************************************************/
                               
header:after {
  display: block;
  clear: both;
  content: "";
}

.green-header {
  background-color: var(--green);
}

img {
max-width: 100%;
display: inline-block;
}

.header-inner img {
height: 5rem;
width: 5rem;
cursor: pointer;
}

.main-header{
position: fixed;
left: 0px;
top: 0px;
z-index: 999;
width: 100%;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
}

.header-top,
.header-upper{
background: transparent;
top: 0;
}

/**header top*/
.top-inner{
display: flex;
align-items: center;
position: relative;
z-index: 1;
padding: 15px 0;
}

.top-inner::before{
position: absolute;
content: '';
top: 0;
left: 0;
width: 2000px;
height: 100%;
background: #f5f5f5;
z-index: -1;
}

.top-left li{
font-size: 14px;
color: #1e1e1e;
margin: 0 30px;
font-weight: 500;
display: inline-flex;
align-items: center;
}


.main-menu .navbar-collapse{
padding: 0px;
}

.main-menu .navigation >li{
float: left;
margin: 0 15px;
position: relative;
}

.main-menu .navigation li.dropdown .dropdown-btn{
position: absolute;
right: 10px;
top: 0;
width: 200px;
height: 43px;
text-align: center;
line-height: 43px;
cursor: pointer;
display: none;
}

.main-menu .navigation li a{
position: relative;
display: block;
color: var(--white);
font-weight: 700;
opacity: 1;
font-size: 14px;
padding: 35px 20px;
text-transform: uppercase;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
}

.main-header .main-menu .navigation li a{
padding: 10px 5px;
}

.main-menu .navigation li:hover > a,
.main-menu .navigation li.current-menu-item > a {
color: var(--yellow);
}

.main-menu .navigation > li.dropdown:before {
content: '';
position: absolute;

bottom: -1.28rem;
left: 0;
width: 100%;
transform: scale(0);
height: 3px;
opacity: 0;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
background: var(--yellow);
}

.main-menu .navigation li:hover:before,
.main-menu .navigation li.current-menu-item:before {
opacity: 1;
transform: scale(1);
}


.main-menu .navigation li ul {
position: absolute;
margin-top: 1.28rem;
left: 0;
top: 100%;
min-width: 215px;
z-index: 100;
display: none;
background: var(--green);
border-radius: 0 0 0 0;
box-shadow: inset 0 0 0 10px var(--green), 0 5px 15px -5px rgba(1,50,32,.2);
}

.main-menu .navigation li ul li {
width: 100%;
padding: 5px 4px;
}

.main-menu .navigation li ul li:last-child {
border-bottom: none;
}

.main-menu .navigation li ul li a,
.main-header .main-menu .navigation li ul li a {
padding: 5px 3px;
line-height: 20px;
font-weight: 100;
}

.main-menu .navigation li ul li ul{
left: 100%;
top: 0%;
}

.main-menu .navbar-header{
display: none;
}

.main-menu .navbar-header .navbar-toggle {
float: right;
margin: 20px 0;
cursor: pointer;
transition: 0.5s;
background: transparent;
}

.main-header .main-menu .navbar-header .navbar-toggle{
margin: 15px 0;
}

.main-menu .navbar-header .navbar-toggle .icon-bar{
height: 2px;
width: 30px;
display: block;
margin: 7px 5px;
background: var(--bg1);
} 







.zimparks_menu {
  width: 100%;
  position: relative;
  z-index: 999;
  background: var(--green);
}
.zimparks_menu-container {
margin: 0 auto;
background: var(--green);
z-index: 999;
}
.zimparks_menu a.logo {
  display: inline-block;
  padding: 1em 2em;
  width: 10%;
  float: left;
  z-index: 1000;
}
.zimparks_menu img {
  max-width: 100%;
}
.zimparks_menu-mobile {
display: none;
padding: 20px;
}
.zimparks_menu-mobile:after {
content: "\f394";
font-family: "Ionicons";
font-size: 2.5rem;
padding: 0;
float: right;
position: relative;
top: 50%;
-webkit-transform: translateY(-25%);
        transform: translateY(-25%);
}
.zimparks_menu-dropdown-icon:before {
content: "\f489";
font-family: "Ionicons";
display: none;
cursor: pointer;
float: right;
padding: 1.5em 2em;
background: #fff;
color: #333;
}
.zimparks_menu > ul {
margin: 0 auto;
width: 80%;
list-style: none;
padding: 0;
position: relative;
/* IF .zimparks_menu position=relative -> ul = container width, ELSE ul = 100% width */
box-sizing: border-box;
    clear: right;
}
.zimparks_menu > ul:before,
.zimparks_menu > ul:after {
content: "";
display: table;
}
.zimparks_menu > ul:after {
clear: both;
}
.zimparks_menu > ul > li {
float: left;
background: var(--green);
padding: 0;
margin: 0;
}
.zimparks_menu > ul > li a {
text-decoration: none;
font-size: 20px;
color: #f5f5f5;
padding: 1.5em 3em;
display: block;
}
.zimparks_menu > ul > li:hover {
background: var(--green2);
}
.zimparks_menu > ul > li > ul {
display: none;
width: 100%;
background: var(--green2);
padding: 20px;
position: absolute;
z-index: 99;
left: 0;
margin: 0;
list-style: none;
box-sizing: border-box;
}
.zimparks_menu > ul > li > ul:before,
.zimparks_menu > ul > li > ul:after {
content: "";
display: table;
}
.zimparks_menu > ul > li > ul:after {
clear: both;
}
.zimparks_menu > ul > li > ul > li {
margin: 0;
padding-bottom: 0;
list-style: none;
width: 25%;
background: none;
float: left;
}
.zimparks_menu > ul > li > ul > li a {
color: #f5f5f5;
padding: .2em 0;
width: 95%;
display: block;
border-bottom: 1px solid #ccc;
}
.zimparks_menu > ul > li > ul > li a:hover{
color: var(--yellow);
}
.zimparks_menu > ul > li > ul > li > ul {
display: block;
padding: 0;
margin: 10px 0 0;
list-style: none;
box-sizing: border-box;
}
.zimparks_menu > ul > li > ul > li > ul:before,
.zimparks_menu > ul > li > ul > li > ul:after {
content: "";
display: table;
}
.zimparks_menu > ul > li > ul > li > ul:after {
clear: both;
}
.zimparks_menu > ul > li > ul > li > ul > li {
float: left;
width: 100%;
padding: 10px 0;
margin: 0;
font-size: .8em;
}
.zimparks_menu > ul > li > ul > li > ul > li a {
border: 0;    
font-size: 16px;
}
.zimparks_menu > ul > li > ul.normal-sub {
width: 300px;
left: auto;
padding: 10px 20px;
}
.zimparks_menu > ul > li > ul.normal-sub > li {
width: 100%;
}
.zimparks_menu > ul > li > ul.normal-sub > li a {
border: 0;
padding: 1em 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
.zimparks_menu-container {
  width: 100%;
}
.zimparks_menu-container .zimparks_menu{
display:inline-block;
 }
.zimparks_menu-mobile {
  display: block;    
  float: right;    
  padding: 20px 20px 0;
}
.zimparks_menu-dropdown-icon:before {
  display: block;
}
.zimparks_menu > ul {
  display: none;
  width:100%;
}
.zimparks_menu > ul > li {
  width: 100%;
  float: none;
  display: block;
}
.zimparks_menu > ul > li a {
  padding: 1.5em;
  width: 100%;
  display: block;
}
.zimparks_menu > ul > li > ul {
  position: relative;    
  padding: 0 40px;
}
.zimparks_menu > ul > li > ul.normal-sub {
  width: 100%;
}
.zimparks_menu > ul > li > ul > li {
  float: none;
  width: 100%;
  margin-top: 20px;
}
.zimparks_menu > ul > li > ul > li:first-child {
  margin: 0;
}
.zimparks_menu > ul > li > ul > li > ul {
  position: relative;
}
.zimparks_menu > ul > li > ul > li > ul > li {
  float: none;
}
.zimparks_menu .show-on-mobile {
  display: block;
}
}




/**************************03. HOME PAGE******************************************************/
/**************************index.html******************************************************/


/*** i. hero section ***/

.home-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/banner-img/home-banner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.home-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.home-hero-inner{
  max-width: 700px;
  position: relative;
}

.home-hero-inner h1{
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.home-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.home-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}









/*** v. news update section ***/
.featured-section {
  background: var(--bg2);
}

.featured-box {
  padding: 20px 25px 15px;
  box-shadow: 2px 2px 90px rgba(1, 50, 32, 0.45);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 3px;
  text-align: center;
  background: var(--green);
}

.featured-box i {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: var(--bg1);
  background: var(--green);
  font-size: 40px;
  border-radius: 50%;
}

.featured-box span {
  display: inline-block;
  margin: 10px 0 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.featured-box .read-more {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.featured-box p {
  font-size: 14px;
}

.featured-box,
.featured-box i,
.featured-box p,
.featured-box span {
  transition: 0.5s;
  color: #e6e2dd;
}

.featured-box:hover {
  background: var(--green);
}

.featured-box:hover i {
  background: white;
  color: var(--green);
}

.featured-box:hover p,
.featured-box:hover h3,
.featured-box:hover h3 a,
.featured-box:hover span {
  color: white;
}

/***end news update section***/



/************************** END HOME PAGE******************************************************/
/**************************end index.html******************************************************/


/**************************04. ABOUT US************************************************************/
/**************************************************************************************************/

/*i. Hero Section*/
.about-hero-section {
  position: relative;
  height: 100vh;
  /*About Us Background Image*/
  background: url(../images/about_us/about_us-homebanner.JPG);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.about-hero-section:before {
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.about-hero-inner {
  max-width: 700px;
  position: relative;
}

.about-hero-inner h1 {
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: capitalize;
}

/*Leadership Page Section*/
.leadership-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/banner-img/banner-2.jpg); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.leadership-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.leadership-hero-inner{
  max-width: 800px;
  position: relative;
}

.leadership-hero-inner h1{
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 52px;
  font-weight: 700;
}


/*-ii.   Overview About Us Section*/

/*-iii.  vision & mission section*/
/*-iv.   mandate section*/
/*-v.    protected areas section*/ 
/*-vi.   Our Leadership Section*/

.leaders .leader {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  background: #fff;
 
}

.leaders .leader .leader-img {
  position: relative;
  overflow: hidden;
}

.leaders .leader .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.leaders .leader .social a {
  transition: color 0.3s;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

a.twitter{
  color: #1da1f2;
}

a.facebook{
  color:  #4267B2;
}

a.instagram{
  color: #e4405f;
}

a.linkedin{
  color: #0a66c2;
}


.leaders .leader .social i {
  font-size: 18px;
  margin: 0 2px;
}

.leaders .leader .leader-info {
  padding: 25px 15px;
  margin-bottom: 10px;
}

.leaders .leader .leader-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--text-color);
}

.leaders .leader .leader-info span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.leaders .leader .leader-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color);
}

.leaders .leader:hover .social {
  opacity: 1;
} 

/*-vii.  our partners section*/


/*KEYFRAMES*/
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%; 
  }
}


