/*[Table of contents]
rgb(247, 250, 252);

1. Global Styles
    - font-family
    - h1-h6 font sizes
    - input buttons
    - scrollbar
2. Header Menu
3. Home Page
    -i.   hero section
    -ii.  home welcome section
    -iii. our park section
    -iv.  explore more section 
    -v.   news update section
    -vi.  statistics section
4. 
5. Header & Breadcrumbs
6. Content Elements
    - Latest Offers
    - Special Offers
    - Isotope
    - Team
    - Testimonials
    - Brand Section
    - Car Body Types
    - Image Points
    - Carousel
    - News
    - Calculator
7. Blog
    - Blog
    - Post
    - Comments
8. Footer
*/

/*@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Nanum+Myeongjo:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Parisienne&display=swap');


font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Parisienne', cursive; 


}



*/


/**************************02. MENU******************************************************/
/************************************************************************************/
                               
header:after {
  display: block;
  clear: both;
  content: "";
}

.green-header {
  background-color: var(--green);
}

img {
max-width: 100%;
display: inline-block;
}

.header-inner img {
height: 5rem;
width: 5rem;
cursor: pointer;
}

.main-header{
position: fixed;
left: 0px;
top: 0px;
z-index: 999;
width: 100%;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
}

.header-top,
.header-upper{
background: transparent;
top: 0;
}

/**header top*/
.top-inner{
display: flex;
align-items: center;
position: relative;
z-index: 1;
padding: 15px 0;
}

.top-inner::before{
position: absolute;
content: '';
top: 0;
left: 0;
width: 2000px;
height: 100%;
background: #f5f5f5;
z-index: -1;
}

.top-left li{
font-size: 14px;
color: #1e1e1e;
margin: 0 30px;
font-weight: 500;
display: inline-flex;
align-items: center;
}


.main-menu .navbar-collapse{
padding: 0px;
}

.main-menu .navigation >li{
float: left;
margin: 0 15px;
position: relative;
}

.main-menu .navigation li.dropdown .dropdown-btn{
position: absolute;
right: 10px;
top: 0;
width: 200px;
height: 43px;
text-align: center;
line-height: 43px;
cursor: pointer;
display: none;
}

.main-menu .navigation li a{
position: relative;
display: block;
color: var(--white);
font-weight: 700;
opacity: 1;
font-size: 14px;
padding: 35px 20px;
text-transform: uppercase;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
}

.main-header .main-menu .navigation li a{
padding: 10px 5px;
}

.main-menu .navigation li:hover > a,
.main-menu .navigation li.current-menu-item > a {
color: var(--yellow);
}

.main-menu .navigation > li:before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
transform: scale(0);
height: 3px;
opacity: 0;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
background: var(--yellow);
}

.main-menu .navigation li:hover:before,
.main-menu .navigation li.current-menu-item:before {
opacity: 1;
transform: scale(1);
}


.main-menu .navigation li ul {
position: absolute;
left: 0;
top: 100%;
min-width: 215px;
z-index: 100;
display: none;
background: var(--green);
border-radius: 0 0 0 0;
box-shadow: inset 0 0 0 10px var(--green), 0 5px 15px -5px rgba(1,50,32,.2);
}

.main-menu .navigation li ul li {
width: 100%;
padding: 5px 4px;
}

.main-menu .navigation li ul li:last-child {
border-bottom: none;
}

.main-menu .navigation li ul li a,
.main-header .main-menu .navigation li ul li a {
padding: 5px 3px;
line-height: 20px;
font-weight: 100;
}

.main-menu .navigation li ul li ul{
left: 100%;
top: 0%;
}

.main-menu .navbar-header{
display: none;
}

.main-menu .navbar-header .navbar-toggle {
float: right;
margin: 20px 0;
cursor: pointer;
transition: 0.5s;
background: transparent;
}

.main-header .main-menu .navbar-header .navbar-toggle{
margin: 15px 0;
}

.main-menu .navbar-header .navbar-toggle .icon-bar{
height: 2px;
width: 30px;
display: block;
margin: 7px 5px;
background: var(--bg1);
} 




/************************** HOME PAGE******************************************************/
/**************************index.html******************************************************/


/*** i. hero section ***/

.home-hero-section{
  position: relative;
  height: 95vh;
  background: url(../images/banner-img/home-banner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.home-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.home-hero-inner{
  max-width: 500px;
  position: relative;
}

.home-hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.home-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.home-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}


/*** ii. home welcome section ***/

.home-welcome-section {
  background: var(--green);
  color: var(--text-color);
}

.home-welcome-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-welcome-content .home-welcome-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.home-welcome-content .home-welcome-image img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-welcome-content .home-welcome-textbox {
  z-index: 222;
  margin-left: 50px;
  width: 500px;
  color: var(--white);
}

.home-welcome-content .home-welcome-textbox h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--white);
}

.home-welcome-content .home-welcome-textbox p {
  font-weight: 100;
}

.home-welcome-textbox > .btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #e9ea0c;
  border: none;
  border-radius: 25px;
  color: var(--text-color);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

/*** iii. our park section ***/

.home-parks-section {
  background: var(--bg2);
}

.home-parks-slider {
  position: relative;
  width: 950px;

}

.home-parks-slider .parks-slider-item{
  height: 270px;
  width: 350px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
} 

.parks-slider-item div {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  padding-top: 100%;
  transition: opacity 0.5s;
}

.parks-slider-item .slider-image-overlay a {
  color: #fff;
}

.parks-slider-item .slider-image-overlay {
  color: #fff;
  height: 100%;
  width: 100%;
  padding-top: 130%;
  position: absolute;
  opacity: 0;

}

.slider-image-overlay > * {
  transform: translateY(40px);
  transition: transform 0.5s;
}

.slider-image-overlay:hover {
  opacity: 1;
}

.slider-image-overlay:hover > * {
  transform: translateY(0);
}

.site-btn.btn-span{
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--border, #2b303218);
  background-color: white;
  color: var(--green);

}

.slider-two .slick-track .parks-slider-item:hover span{
 background-color: var(--green); 
}

.home-parks-slider.slider-btn .prev,
 .home-parks-slider .slider-btn .next{
    color: var(--green);
    margin: 0 1rem;
    opacity: 1;
    transition:opacity 1s ease;
}

.home-parks-slider:hover .slider-btn .prev,
.home-parks-slider:hover .slider-btn .next {
    opacity: 1;
}

.position-top {
  position: absolute;
  top: 50%;
}

.right-0 {
  right:-40px;
}

.left-0 {
  left: -40px;
}
/***end our park section***/


/*** iv. explore more section ***/
.explore-more-section {

  background: var(--bg1);
}

.explore-more-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.explore-more-textbox {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.explore-more-textbox {
 width: 500px;
}

.explore-more-textbox .underline-small {
  width: 20%;
  height: 5px;
  background-color: var(--green);
  display: inline-block;
}

.explore-more-textbox h1 {
  font-size: 1.5em;
}

.explore-more-textbox h3 {

  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
}

.explore-more-card {
  position: relative;
  background: var(--bg1);
  width: 270px;
  height: 270px;
  margin: 10px;
}

.explore-more-card:hover {
  transform: scale(1.05, 1.05);
}

.explore-more-image {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.explore-image-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore-image-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

}

.explore-image-description {
  font-size: 17px;
  width: 80%;
  text-transform: lowercase;
  margin-top: 1.75em;

}

.explore-image-overlay .underline-small {
  width: 50%;
  margin-top: 10px;
  height: 1px;
  background-color: var(--bg2);
  display: inline-block;
}
/***end explore more section ***/



/*** v. news update section ***/
.featured-section {
  background: var(--bg2);
}

.featured-box {
  padding: 20px 25px 15px;
  box-shadow: 2px 2px 90px rgba(1, 50, 32, 0.45);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 3px;
  text-align: center;
  background: var(--green);
}

.featured-box i {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: var(--bg1);
  background: var(--green);
  font-size: 40px;
  border-radius: 50%;
}

.featured-box span {
  display: inline-block;
  margin: 10px 0 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.featured-box .read-more {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.featured-box p {
  font-size: 14px;
}

.featured-box,
.featured-box i,
.featured-box p,
.featured-box span {
  transition: 0.5s;
  color: #e6e2dd;
}

.featured-box:hover {
  background: var(--green);
}

.featured-box:hover i {
  background: white;
  color: var(--green);
}

.featured-box:hover p,
.featured-box:hover h3,
.featured-box:hover h3 a,
.featured-box:hover span {
  color: white;
}

/***end news update section***/

/***vi. statistics section***/
.statistics {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-card {
  background-image: linear-gradient(to right, #e8eae3 40%, #e6e2dd);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  position: relative;
  box-shadow: rgba(230, 226, 221, 0.3);
}

.stats-info-heading {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.stats-info-description {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.stats-info-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #373833;
  background-color: #e9ea0c;
  padding: 1.5rem;
  transition: all 0.5s;
}

.stats-info-button:hover {
  box-shadow: 0 0 1.5rem rgba(230, 226, 221, 0.3);
}

.stats-info-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 5rem;
  position: relative;
}

.stats-info-right::before,
.stats-info-right::after {
  content: "";
  background-color: rgba(29, 29, 28, 0.3);
  position: absolute;
  top: 50%;
}

.stats-info-right::before {
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}

.stats-info-right::after {
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stat-group {
  padding: 2.5rem;
}

.stat-number {
  font-size: 2.6rem;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

.stat-name {
  text-transform: uppercase;
  font-size: 12px;
}

/***end statistics section***/


/************************** END HOME PAGE******************************************************/
/**************************end index.html******************************************************/



/************************** PARKS PAGES******************************************************/
/********************************************************************************************/


/***i. park welcome section***/
.park-welcome-section {
  background: var(--bg1);
  color: var(--text-color);
}

.park-welcome-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.park-welcome-content .park-welcome-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.park-welcome-content .park-welcome-image img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.park-welcome-content .park-welcome-textbox {
  z-index: 222;
  margin-right: 30px;
  text-align: left;
  width: 500px;
  color: var(--text-color);
  opacity: 0.9;
}

.park-welcome-textbox .underline-small {
  width: 20%;
  height: 5px;
  background-color: var(--bg1);
  display: inline-block;
  margin-bottom: 20px;
}

.park-welcome-content .park-welcome-textbox h3 {
  font-size: 2em;
  margin-bottom: 50px;
  text-align: center;
}

/***ii. park accomodation section***/





/***iii. park gallery***/

.park-gallery-sec {
  background: var(--bg2);
}
.park-gallery-container {
	display: block;
	max-width: 800px;
	margin: 0 auto;
  padding-top: 40px;
	text-align: center;
}

.small {
	width: 180px;
	height: 250px;
	position: relative;
	margin: 3px;
	object-fit: cover;

}

.small:hover {
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}

.lightbox img {
  height: 400px;
  width: 600px;
  object-fit: cover;
}

a div {
	position: relative;
	margin: auto auto;
	text-align: center;
}

.lightbox:target {
	display: -webkit-box;
	display: flex;
}

.park-gallery-container a {
	text-decoration: none;
}

.park-gallery-container p {
	font-size: 20px;
	color: var(--bg1);
  font-weight: 500;
  top: -20px;
}

/*End Park Gallery*/







/************************** END PARKS PAGES******************************************************/
/*********************************************************************************************/


.conservation-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/r10_376_4022_2643_w1200_h678_fmax.jpg); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.about-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/site1.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.investments-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/hwange1.jpeg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
.media-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/gonarezhou-walking-safaris.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.park-hero-section{
  position: relative;
  height: 80vh;
  background: url(../images/gonarezhou-walking-safaris.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e8eae3;
  background-color: #fff;
}

.park-hero-inner h1{
  color: #e8eae3;
}





/**03-Welcome Section**/



 /*About*/
.about-content-sec {
  background: var(--bg2);
}


.aboutUs-container .col-md-4 {
  height: 400px;
}

.aboutUs-item {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
  margin-top: 20px;
  background-color: var(--bg1);
  padding: 50px 10px;
}

.aboutUs-item i {
  font-size: 43px;
  margin: 0;
}

.aboutUs-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}


.aboutUs-item p {
  margin-top: 20px;
  top: 0;
}







/*End About*/


/*About Us*/

.about-us-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-us-textbox {
  z-index: 222;
  width: 500px;
  color: var(--text-color);

}

.about-us-content .about-us-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.about-us-content .about-us-image img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-content .about-us-textbox {
  z-index: 222;

  width: 500px;
  color: var(--text-color);
}

.content-left {
  margin-right: 50px;
}

.content-right {
  margin-left: 50px;
}

.top-10 {
  margin-top: 50px;
}



/**07-Footer Section
footer {
  margin-top: 150px;
  width: 100%;
  position: absolute;
  background: var(--green);
  color: var(--bg2);
  padding: 100px 0 30;
  font-size: 16px;
  line-height: 20px;
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
  flex-basis: 15%;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
}
/*footer search
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #e8dd13;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 30px;
  border: 1px solid #e8dd13;
  background: #e8dd13;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.footer-col h3 {
  color: white;
  font-size: 15px;
  font-weight: 250;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

footer form .far {
  font-size: 18px;
  margin-right: 10px;
}

footer form input {
  width: 100%;
  background: transparent;
  color: #fff;
  border: 0;
  outline: none;
}

footer form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

footer form button .fas {
  font-size: 16px;
  color: #fff;
} */

.social-icons .fab {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  color: #000;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 10px 50px;
}

section hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid var(--text-color);
  margin: 10px 50px;

}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #1c5e3c;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #e8dd13;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

.second {
  margin-top: 100px;
}




/*About Us page CSS*/
.about-content-row:after {
  content: "";
  display: table;
  clear: both;

}

.about-content-column {
  float: left;
  width: 33.3%;
}


/*{
    End of Footer Section*/






/*KEYFRAMES*/
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}


