/*[Table of contents]
rgb(247, 250, 252);

1. Global Styles
    - font-family
    - h1-h6 font sizes
    - input buttons
    - scrollbar
2. Header Menu
3. Home Page
    -i.    hero section
    -ii.   home welcome section
    -iii.  our park section
    -iv.   explore more section 
    -v.    news update section
    -vi.   statistics section
4. About Us Page
    -i.    hero section
    -ii.   about us section
    -iii.  vision & mission section
    -iv.   mandate section
    -v.    protected areas section 
    -vi.   our leadership section
    -vii.  our partners section
5. Header & Breadcrumbs
6. Content Elements
    - Latest Offers
    - Special Offers
    - Isotope
    - Team
    - Testimonials
    - Brand Section
    - Car Body Types
    - Image Points
    - Carousel
    - News
    - Calculator
7. Blog
    - Blog
    - Post
    - Comments
8. Footer
*/

/*@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Nanum+Myeongjo:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Parisienne&display=swap');


font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Parisienne', cursive; 


}
*/

/*Fonts*/
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayFairFont/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('fonts/PlayFairFont/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayFairFont/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('fonts/PlayFairFont/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.italic {
  font-family: 'Playfair Display';
  font-style: italic;

}

.read_more-button {
  font-size: 17px;
  background-color: transparent;
  border: 1px solid #222122;
  color: #222122;
  padding: 13px 0px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  text-transform: uppercase;
}

.read_more-button:hover {
  background: var(--green);
  color: #fff;
  transition: ease-in all 0.5s;
}
/**************************02. MENU******************************************************/
/************************************************************************************/
                               
header:after {
  display: block;
  clear: both;
  content: "";
}

.green-header {
  background-color: var(--green);
}

img {
max-width: 100%;
display: inline-block;
}

.header-inner img {
height: 5rem;
width: 5rem;
cursor: pointer;
}

.main-header{
position: fixed;
left: 0px;
top: 0px;
z-index: 999;
width: 100%;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
}

.header-top,
.header-upper{
background: transparent;
top: 0;
}

/**header top*/
.top-inner{
display: flex;
align-items: center;
position: relative;
z-index: 1;
padding: 15px 0;
}

.top-inner::before{
position: absolute;
content: '';
top: 0;
left: 0;
width: 2000px;
height: 100%;
background: #f5f5f5;
z-index: -1;
}

.top-left li{
font-size: 14px;
color: #1e1e1e;
margin: 0 30px;
font-weight: 500;
display: inline-flex;
align-items: center;
}


.main-menu .navbar-collapse{
padding: 0px;
}

.main-menu .navigation >li{
float: left;
margin: 0 15px;
position: relative;
}

.main-menu .navigation li.dropdown .dropdown-btn{
position: absolute;
right: 10px;
top: 0;
width: 200px;
height: 43px;
text-align: center;
line-height: 43px;
cursor: pointer;
display: none;
}

.main-menu .navigation li a{
position: relative;
display: block;
color: var(--white);
font-weight: 700;
opacity: 1;
font-size: 14px;
padding: 35px 20px;
text-transform: uppercase;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
}

.main-header .main-menu .navigation li a{
padding: 10px 5px;
}

.main-menu .navigation li:hover > a,
.main-menu .navigation li.current-menu-item > a {
color: var(--yellow);
}

.main-menu .navigation > li.dropdown:before {
content: '';
position: absolute;

bottom: -1.28rem;
left: 0;
width: 100%;
transform: scale(0);
height: 3px;
opacity: 0;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;
background: var(--yellow);
}

.main-menu .navigation li:hover:before,
.main-menu .navigation li.current-menu-item:before {
opacity: 1;
transform: scale(1);
}


.main-menu .navigation li ul {
position: absolute;
margin-top: 1.28rem;
left: 0;
top: 100%;
min-width: 215px;
z-index: 100;
display: none;
background: var(--green);
border-radius: 0 0 0 0;
box-shadow: inset 0 0 0 10px var(--green), 0 5px 15px -5px rgba(1,50,32,.2);
}

.main-menu .navigation li ul li {
width: 100%;
padding: 5px 4px;
}

.main-menu .navigation li ul li:last-child {
border-bottom: none;
}

.main-menu .navigation li ul li a,
.main-header .main-menu .navigation li ul li a {
padding: 5px 3px;
line-height: 20px;
font-weight: 100;
}

.main-menu .navigation li ul li ul{
left: 100%;
top: 0%;
}

.main-menu .navbar-header{
display: none;
}

.main-menu .navbar-header .navbar-toggle {
float: right;
margin: 20px 0;
cursor: pointer;
transition: 0.5s;
background: transparent;
}

.main-header .main-menu .navbar-header .navbar-toggle{
margin: 15px 0;
}

.main-menu .navbar-header .navbar-toggle .icon-bar{
height: 2px;
width: 30px;
display: block;
margin: 7px 5px;
background: var(--bg1);
} 







.zimparks_menu {
  width: 100%;
  position: absolute;
  z-index: 999;
  background: transparent;
}
.zimparks_menu-container {
margin: 0 auto;
background: transparent;
z-index: 999;
}
.zimparks_menu a.logo {
  display: inline-block;
  padding: 0.2em 2em;
  width: 13%;
  float: left;
  z-index: 1000;
}
.zimparks_menu img {
  max-width: 100%;
}
.zimparks_menu-mobile {
display: none;
padding: 20px;
}
.zimparks_menu-mobile:after {
content: "\f394";
font-family: "Ionicons";
font-size: 2.5rem;
padding: 0;
float: right;
position: relative;
top: 50%;
-webkit-transform: translateY(-25%);
        transform: translateY(-25%);
}
.zimparks_menu-dropdown-icon:before {
content: "\f489";
font-family: "Ionicons";
display: none;
cursor: pointer;
float: right;
padding: 1.5em 2em;
background: var(--green);
color: #ffffff;
}
.zimparks_menu > ul {
margin: 0 auto;
width: 90%;
list-style: none;
padding: 0;
position: relative;
/* IF .zimparks_menu position=relative -> ul = container width, ELSE ul = 100% width */
box-sizing: border-box;
    clear: right;
}
.zimparks_menu > ul:before,
.zimparks_menu > ul:after {
content: "";
display: table;
}
.zimparks_menu > ul:after {
clear: both;
}
.zimparks_menu > ul > li {
float: left;
background: transparent;
padding: 0;
margin: 0;
}
.zimparks_menu > ul > li a {
text-decoration: none;
font-size: 20px;
color: #f5f5f5;
padding: 1.5em 1.3em;
display: block;
}
.zimparks_menu > ul > li:hover {
background: var(--green2);
}
.zimparks_menu > ul > li > ul {
display: none;
width: 100%;
background: var(--green2);
padding: 10px;
position: absolute;
z-index: 99;
left: 0;
margin: 0;
list-style: none;
box-sizing: border-box;
}
.zimparks_menu > ul > li > ul:before,
.zimparks_menu > ul > li > ul:after {
content: "";
display: table;
}
.zimparks_menu > ul > li > ul:after {
clear: both;
}
.zimparks_menu > ul > li > ul > li {
margin: 0;
padding-bottom: 0;
list-style: none;
width: 20%;
background: none;
float: left;
}
.zimparks_menu > ul > li > ul > li a {
color: #f5f5f5;
padding: .2em 0;
width: 95%;
display: block;
border-bottom: 1px solid #ccc;
}
.zimparks_menu > ul > li > ul > li a:hover{
color: var(--yellow);
}
.zimparks_menu > ul > li > ul > li > ul {
display: block;
padding: 0;
margin: 10px 0 0;
list-style: none;
box-sizing: border-box;
}
.zimparks_menu > ul > li > ul > li > ul:before,
.zimparks_menu > ul > li > ul > li > ul:after {
content: "";
display: table;
}
.zimparks_menu > ul > li > ul > li > ul:after {
clear: both;
}
.zimparks_menu > ul > li > ul > li > ul > li {
float: left;
width: 100%;
padding: 10px 0;
margin: 0;
font-size: .8em;
}
.zimparks_menu > ul > li > ul > li > ul > li a {
border: 0;    
font-size: 16px;
}
.zimparks_menu > ul > li > ul.normal-sub {
width: 300px;
left: auto;
padding: 10px 20px;
}
.zimparks_menu > ul > li > ul.normal-sub > li {
width: 100%;
}
.zimparks_menu > ul > li > ul.normal-sub > li a {
border: 0;
padding: 1em 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
.zimparks_menu-container {
  width: 100%;
}
.zimparks_menu-container .zimparks_menu{
display:inline-block;
background: var(--green);
 }
.zimparks_menu-mobile {
  display: block;    
  float: right;    
  padding: 20px 20px 0;
}
.zimparks_menu-dropdown-icon:before {
  display: block;
}
.zimparks_menu > ul {
  display: none;
  width:100%;
}
.zimparks_menu > ul > li {
  width: 100%;
  float: none;
  display: block;
  background: var(--green);
}
.zimparks_menu > ul > li a {
  padding: 1.5em;
  width: 100%;
  display: block;
}
.zimparks_menu > ul > li > ul {
  position: relative;    
  padding: 0 40px;
}
.zimparks_menu > ul > li > ul.normal-sub {
  width: 100%;
}
.zimparks_menu > ul > li > ul > li {
  float: none;
  width: 100%;
  margin-top: 20px;
}
.zimparks_menu > ul > li > ul > li:first-child {
  margin: 0;
}
.zimparks_menu > ul > li > ul > li > ul {
  position: relative;
}
.zimparks_menu > ul > li > ul > li > ul > li {
  float: none;
}
.zimparks_menu .show-on-mobile {
  display: block;
}
}




/**************************03. HOME PAGE******************************************************/
/**************************index.html******************************************************/


/*** i. hero section ***/

.home-hero-section{
  position: relative;
  min-height: 700px;
  background: url(../images/banner-img/home-banner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.home-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.home-hero-inner{
  max-width: 700px;
  position: relative;
}

.home-hero-inner h1{
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.home-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.home-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}

/************************** END HOME PAGE******************************************************/
/**************************end index.html******************************************************/


/**************************04. ABOUT US************************************************************/
/**************************************************************************************************/

/*i. Hero Section*/
.about-hero-section {
  position: relative;
  height: 100vh;
  /*About Us Background Image*/
  background: linear-gradient(rgba(14, 14, 14, 0.5), rgba(14, 14, 14, .5)), url(../images/about_us/about_us-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}


.about-hero-inner {
  max-width: 700px;
  position: relative;
}

.about-hero-inner h1 {
  position: relative;
  font-family: 'Playfair Display'; 
  color: var(--yellow);
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 20px;
  padding-bottom: 5px;
  letter-spacing: 3px;
  text-transform: capitalize;
}


/*Leadership Page Section*/
.leadership-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/banner-img/banner-2.jpg); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.leadership-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.leadership-hero-inner{
  max-width: 800px;
  position: relative;
}

.leadership-hero-inner h1{
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 52px;
  font-weight: 700;
}


/*-ii.   Overview About Us Section*/
.main-layout {
  padding: 15px 10px;
}

/*Responsive About Page*/
@media (min-width: 1200px) and (max-width: 1340px) {
  .main-layout {
      padding: 15px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-layout {
      padding: 15px 10px;
  }

  .description .about_overview-text p {
    line-height: 27px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .description .protected_areas-text p {
    line-height: 27px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  /*Park Protection*/
  .description .park_protection-text p {
    line-height: 27px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .description h3 {
    font-size: 45px;
    line-height: 40px;
  }
}

/**/
@media (min-width: 768px) and (max-width: 991px) {
  .main-layout {
      padding: 15px 10px;
  }

  .description h3 {
   margin-top: 20px;
  }

  .section-header h2 {
    font-size: 45px;
}
} 

@media (min-width: 576px) and (max-width: 767px) {
  .main-layout {
      padding: 15px 10px;
  }

  .description h3 {
    margin-top: 20px;
   }

   .section-header h2 {
    font-size: 40px;
}
}

@media (max-width: 575px) {
  .main-layout {
      padding: 15px 10px;
  }

  .description h3 {
    margin-top: 20px;
   }

   .section-header h2 {
    font-size: 35px;
}
}


/*End About Responsive*/
.description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#about_overview {
  background-color: var(--primary-background);
  padding: 90px 0;
}


.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

/**/

.about_overview-img {
  background: url(../images/gonarezhou/Activities/gamedrive.JPG) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

.body-background {
  background-color: var(--body-background);
}

.description .about_overview-text{
  padding: 0;
}

.description .protected_areas-text{
  padding: 0;
}

#about_overview .description .about_overview-text p {
  color: #222122;
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 35px;
  letter-spacing: 0.5px;
  text-align: right;
}

.description .protected_areas-text p {
  color: #222122;
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 35px;
  letter-spacing: 0.5px;
  text-align: left;
}

#about_overview .description h3 {
     color: #1e2426;
     margin-bottom: 30px;
     text-align: right;
     font-size: 45px;
     font-weight: 700;
}




#about_overview .description {
  padding: 0px 20px 0px 10px;
}


/*-iii.  vision & mission section*/

.about .section-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 45px auto;
}

.section-header {
  margin-bottom: 45px;
}


.section-header p {
  margin-bottom: 5px;
  position: relative;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--yellow);
}

.section-header h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
}



/*Tabs*/
.about {
  background-color: var(--primary-background);
}
.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: url(../images/about_us/about_lions.JPG) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.about .about-tab {
    width: 100%;
}

.about .about-tab .nav.nav-pills .nav-link {
    padding: 8px;
    font-weight: 600;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    transition: none;
}

.about .about-tab .nav.nav-pills .nav-link:hover,
.about .about-tab .nav.nav-pills .nav-link.active {
    color: var(--yellow);
    padding-bottom: 7px;
    border-bottom: 3px solid var(--yellow);
}

.nav-item > a {
  color: #1e2426;
  transition: .3s;
  font-size: 20px;
  letter-spacing: 0.6px;
}

.nav-item > a:hover,
.nav-item > a:active,
.nav-item > a:focus {
  color: var(--yellow);
  outline: none;
  text-decoration: none;
}

.about .about-tab .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.about .about-tab .tab-content .container {
    padding: 0;
}

/*-v.    protected areas section*/ 

#protected-areas {
  background-color: var(--primary-background);
  padding: 90px 0;
}

.protected_areas .section-header {
  width: 100%;
  max-width: 700px;

}

#protected-areas .protected_areas-wrapper {
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--primary-background);
}

#protected-areas .protected_areas-wrapper .protected_areas-overlay {
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 100%;
  z-index: 200;
}

#protected-areas .protected_areas-wrapper .protected_areas-img {
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: url(../images/about_us/map.png) no-repeat center center;
  background-size: cover;
  margin: 0;

}

.protected_areas-wrapper .protected_areas-overlay .national_area-img {
  width: 100%;
  height: 30%;
  z-index: 300;

  margin: 0;

}

.protected_areas-wrapper .protected_areas-overlay .botanical_area-img {
  width: 100%;
  height: 30%;
  z-index: 300;

  margin: 0;

}

.protected_areas-wrapper .protected_areas-overlay .recreational_area-img {
  width: 100%;
  height: 30%;
  z-index: 300;

  margin: 0;

}

/*Our Partners Logos*/

.about_partners-logo {
  background-color: var(--primary-background);
}


/*-vi.   Our Leadership Section*/

.leaders .leader {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  background: #fff;
 
}

.leaders .leader .leader-img {
  position: relative;
  overflow: hidden;
}

.leaders .leader .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.leaders .leader .social a {
  transition: color 0.3s;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

a.twitter{
  color: #1da1f2;
}

a.facebook{
  color:  #4267B2;
}

a.instagram{
  color: #e4405f;
}

a.linkedin{
  color: #0a66c2;
}


.leaders .leader .social i {
  font-size: 18px;
  margin: 0 2px;
}

.leaders .leader .leader-info {
  padding: 25px 15px;
  margin-bottom: 10px;
}

.leaders .leader .leader-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--text-color);
}

.leaders .leader .leader-info span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.leaders .leader .leader-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color);
}

.leaders .leader:hover .social {
  opacity: 1;
} 

/*-vii.  our partners section*/


/*KEYFRAMES*/
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%; 
  }
}




/**************************05. PARK PROTECTION************************************************************/
/**************************************************************************************************/

/*Park Protection Hero Section*/

.parkprotection-hero-section{
  position: relative;
  height: 100vh;
  /*About Us Background Image*/
  background: linear-gradient(rgba(14, 14, 14, 0.5), rgba(14, 14, 14, .5)), url(../images/Conservation/ParkProtection/LadyRangers.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.parkprotection-hero-inner{
  max-width: 700px;
  position: relative;
  
}

.parkprotection-hero-inner h1{
  position: relative;
  font-family: 'Playfair Display'; 
  color: var(--yellow);
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 20px;
  padding-bottom: 5px;
  letter-spacing: 3px;
  text-transform: capitalize;
}

/*Park Protection Overview*/
.park_protection{
  background-color: var(--primary-background);
  padding: 50px 0;
}

.protection_overview-img {
  background: url(../images/Conservation/ParkProtection/RangersatWork.JPG) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

.fire_management-img {
  background: url(../images/Conservation/ParkProtection/LadyRangers.JPG) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

.water_management-img {
  background: url(../images/Conservation/ParkProtection/RhodesNyangaLodges.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}


.description .park_protection-text {
  padding: 0;
}

.park_protection .description .park_protection-text p {
  color: #222122;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 35px;
  letter-spacing: 0.5px;
}

.park_protection .description h3 {
  color: #1e2426;
  margin-bottom: 30px;
  text-align: right;
  font-size: 45px;
  font-weight: 700;
}

.park_protection .description {
  padding: 0px 20px 0px 10px;
}

/*Counter under Law Enforcement*/

#counters_1,
#counters_2,
#counters_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 33px;
}

#counters_1 .counter,
#counters_2 .counter,
#counters_3 .counter {
  font-size: 33px;
  font-weight: 600;
  color: #000;
  width: auto;

}

#counters_1 p,
#counters_2 p,
#counters_3 p {
  margin-bottom: 0;
  width: 20px;
  float: left;
  color: #04884c;
  font-size: 29px;
  line-height: 1.6;
}

#counters_1 .text,
#counters_2 .text,
#counters_3 .text {
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: #616161;
}

#counters_1 .cont,
#counters_2 .cont,
#counters_3 .cont {
  padding: 55px;
  border-radius: 3px;
  background-color: #f5f5f5;
}


#counters_1 .cont .row,
#counters_2 .cont .row,
#counters_3 .cont .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {

  #counters_1 .cont,
#counters_2 .cont,
#counters_3 .cont {
  padding: 15px;
}
  #counters_1 .counter,
  #counters_2 .counter,
  #counters_3 .counter {
    font-size: 25px;
  }
  #counters_1 p,
  #counters_2 p,
  #counters_3 p {
    font-size: 24px;
    line-height: 1.5;
  }
  #counters_1 .text,
  #counters_2 .text,
  #counters_3 .text {
    font-size: 12px;
  }
}

.distance {
  margin: 88px 0 160px 0;
  text-align: center;
  font-size: 41px;
  color: #04884c;
  font-weight: 400;
}


/*Counter under Law Enforcement*/


/*Rangeland Management  Video*/

.video_header
{
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video_header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.video_showcase
{
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.video_showcase.active
{
  right: 300px;
}

.video_showcase video
{
  position: absolute;
  left:10px;
  right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.video_overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(14, 14, 14, 0.5), rgba(14, 14, 14, .5));
  mix-blend-mode: overlay;
}
.video_text
{
  position: relative;
  z-index: 10;
}



.video_text h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
.video_text h3
{
  margin-bottom: 5px;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--yellow);
}

.video_text p
{
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  line-height: 27px;
  padding-bottom: 10px;
  font-size: 16px;
}
.video_text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}