/*Heros Section for victoriafalls National Park*/
.victoriafalls-hero-section{
  position: relative;
  height: 90vh;
  background: url(../images/nationalparks/victoriafalls/victoriafalls-homebanner.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.victoriafalls-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.victoriafalls-hero-inner{
  max-width: 700px;
  position: relative;
  left: 0;
}

.victoriafalls-hero-inner h2{
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

/*victoriafalls National Park Overview*/

.victoriafalls-overview {
background-image: url("../images/nationalparks/victoriafalls/homebanner.JPG");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: 100vh;

}