


.opportunities-hero-section{
    position: relative;
    height: 95vh;
    background: url(/assets/images/banner-img/banner-2.jpg); /*background image*/
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .opportunities-hero-section:before{
    opacity: 0.35;
    background: rgba(0, 0, 0, 0.45);
  }
  
  .opportunities-hero-inner{
    max-width: 500px;
    position: relative;
  }
  
  .opportunities-hero-inner h1{
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  .opportunities-hero-inner h5 {
    color: white;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: none;
    letter-spacing: 5px;
  }
  
  .opportunities-hero-inner .sub-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--green);
  }

  
  .opportunities-page {
    margin: 20px 0
  }
  
  .opportunities-page:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .opportunities-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    min-height: 600px;
  }
  
  .opportunities-content-wrapper {
    float: left;
    width: 100%;
  }
  
  .opportunities-content {
    margin-right: 320px;
    clear: both;
    overflow: auto;
    background: #1abc9c;
    background: rgba(26,188,156, 0.4);
    min-height: 600px;
  }
  
  .opportunities-sidebar {
    position: relative;
    width: 320px;
    margin-left: -320px;
    float: right;
    overflow: hidden;
    background: #2c3e50;
    background: rgba(44,62,80, 0.4);
    color: #eee;
    min-height: 600px;
  }
  
  .opportunities-page > a{
    display: block;
    text-align:center;
    margin: 10px auto;
    width: 100%;
    color: #2c3e50;
  }
  
  @media only screen and (max-width: 768px) {
    .opportunities-sidebar {
      width: 100%;
      margin-left: 0;
      height: auto;
      position: relative;
    }
    .opportunities-content {
      margin-right: 0;
    }
  }