@font-face {
    font-family: 'Gulzar';
    src: url('Gulzar-Regular.woff2') format('woff2'),
        url('Gulzar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

