@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

:root {
  --main-color: #fff;
  --yellow: #e9ea0c;
  --bg: #013220;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.aboutUs-home {
  min-height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  background: url(/assets/images/Zimparks-rangers.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.aboutUs-home .content {
  max-width: 60rem;
  text-align: center;
}

.aboutUs-home .content h3 {
  font-style: italic;
  font-size: 4rem;
  color: var(--yellow);
}

.aboutUs-home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

section .aboutUs {
  margin-bottom: 50px;
}

.aboutUs-1 {
  margin: 30px;
  padding: 5px;
}

.aboutUs-1 h1 {
  text-align: center;
  color: #013220;
  font-weight: bold;
}

.aboutUs-1 p {
  text-align: center;
  padding: 3px;
  color: #013220;
}

.aboutUs-container .col-md-4 {
  height: 400px;
}

.aboutUs-item {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
  margin-top: 20px;
  background-color: #fff;
  padding: 50px 10px;
  box-shadow: 0 0 9px rgba(1, 54, 14, 0.6);
}

.aboutUs-item i {
  font-size: 43px;
  margin: 0;
}

.aboutUs-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.aboutUs-item hr {
  width: 46px;
  height: 3px;
  background-color: yellow;
  margin: 0 auto;
  border: none;
}

.aboutUs-item p {
  margin-top: 20px;
}

.aboutUs-item:hover {
  background-color: yellow;
}

.aboutUs-item:hover i,
.aboutUs-item:hover h3,
.aboutUs-item:hover p {
  color: #fff;
}

.aboutUs-item:hover hr {
  background-color: #013220;
}

.aboutUs-item:hover i {
  transform: translateY(-20px);
}

.aboutUs-item:hover i,
.aboutUs-item:hover h3,
.aboutUs-item:hover p {
  transition: all 0.4s ease-in-out;
}

/*team section*/

.team-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.profile-card {
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #013220;
  transition: 0.6s;
  margin: 0 30px;
}

.profile-card:hover {
  border-radius: 10px;
  height: 280px;
}

.profile-card .team-img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}

.profile-card:hover .team-img {
  transform: translateY(-60px);
}

.team-img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #013220;
  transition: 0.6s;
}

.profile-card:hover img {
  border-radius: 10px;
}

.team-caption {
  text-align: center;
  transform: translateY(-160px);
  opacity: 0;
}

.profile-card:hover .team-caption {
  opacity: 1;
}

.team-caption h3,
.team-member h3 {
  font-size: 18px;
}

.team-caption p,
.team-member p {
  font-size: 14px;
  color: #013220;
  margin: 2px 0 6px 0;
}

.team-caption .team-social-links a {
  color: #013220;
  margin-right: 8px;
  font-size: 18px;
  transition: 0.6s;
}

.team-social-links a:hover {
  color: #0c52a1;
}

.team-member {
  padding: 20px 15px 30px;
  text-align: center;
}

@media (max-width: 800px) {
  .team-main {
    flex-direction: column;
    width: 100%;
    margin-bottom: 350px;
    margin-top: 300px;
  }

  .profile-card {
    width: 270px;
    height: 250px;
    margin: 40px 20px 20px 20px;
  }

  .team-caption {
    transform: translateY(-100px);
  }
}
