:root {
  --main-color: #d3ad7f;
  --yellow: #e9ea0c;
  --green: #013220;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --text-color: #373833;
  --bg1: #e8eae3;
  --bg2: #e6e2dd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}*/

.overlap-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlap-left {
  width: 60%;
  height: 400px;
  background: url(../images/big-Big-5-1024x410.jpg) no-repeat center / cover;
}

.overlap-right {
  width: 60%;
  min-height: 250px;
  background-color: var(--bg2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: var(--text-color);
  margin-left: -70px;
  text-align: center;
}

.overlap-right h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.overlap-right p {
  font-size: 15px;
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.overlap-right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e9ea0c;
  color: #013220;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

.overlap-right .overlap-btn {
  border-radius: 5px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .overlap-container {
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
  }

  .overlap-left {
    width: 100%;
  }

  .overlap-right {
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
}
