:root {
    --main-color: #d3ad7f;
    --yellow: #e9ea0c;
    --green: #013220;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --text-color: #373833;
    --bg1: #e8eae3; /*232, 234, 227*/
    --bg2: #e6e2dd;
  }
  
  * {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }

.logo > img {
    height: 6rem;
  }

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--green);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .responsive-navbar ul{
    list-style: none;

}

header .responsive-navbar ul li {
    position: relative;
    float: left;
}

header .responsive-navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    color: var(--bg1);
    display: block;
}

header .responsive-navbar ul li a:hover {
    background: var(--green);
    color: var(--bg2);
}

header .responsive-navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--green);
    display: none;
}

header .responsive-navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .responsive-navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .responsive-navbar ul li:focus-within > ul, 
header .responsive-navbar ul li:hover > ul {
    display: initial;
}


.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .bar {
    width: 1.9rem;
    height: 2.5px;
    border-radius: 2px;
    background-color: #fff;
    transition: 0.5s;
    position: relative;
  }

  .bar:before,
  .bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  transition: 0.5s;
}

 .bar:before {
    transform: translateY(-9px);
  }
  
  .bar:after {
    transform: translateY(9px);
  }

  #menu-bar {
    display: none;
  }


@media(max-width:991px) {
    header {
        padding: 20px;
    

    }

    #menu-bar {
        display: initial;
    }

    header .responsive-navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: var(--green);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    header .responsive-navbar ul li {
        width: 100%;
    }

    header .responsive-navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .responsive-navbar ul li ul li {
        background: #e9ea0c;
        left: 20px;
    }

    header .responsive-navbar ul li ul li a{
        left: 20px;
    }

    


    header .responsive-navbar ul li ul li ul {
        width: 100%;
        left: 40px;
    }
}
