:root {
  --main-color: #d3ad7f;
  --yellow: #e9ea0c;
  --green: #013220;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --text-color: #373833;
  --bg1: #e8eae3;
  --bg2: #e6e2dd;
}

* {
  font-family: "Open Sans", sans-serif;
}

.services-section {
  margin-top: 150px;
}
.service-box {
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 50px rgb(239 239 239 / 57%);
  text-align: center;
}

.service-box img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.service-content {
  padding: 0 35px 35px;
  background: var(--bg2);
}

.service-content i {
  height: 70px;
  width: 70px;
  top: -30px;
  color: white;
  display: block;
  font-size: 33px;
  transition: 0.5s;
  line-height: 70px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  margin-bottom: -5px;
  background: var(--bg);
}

.service-content span {
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--bg);
}

.service-content h3 {
  color: var(--text-color);
  margin: 5px 0 20px;
  text-transform: uppercase;
}

.service-content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.service-content .read-more {
  opacity: 0;
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
}

.service-box:hover i {
  background: var(--bg);
}

.service-box:hover .read-more {
  opacity: 1;
}

.service-details-content h2 {
  margin-bottom: 15px;
}
