/*[Table of contents]

1. Global Styles
    - h1-h6 font sizes
    - Greys
    - Dark Theme
2. Page Loader
3. Header Menu
4. Mobile Menu
5. Header & Breadcrumbs
6. Content Elements
    - Latest Offers
    - Special Offers
    - Isotope
    - Team
    - Testimonials
    - Brand Section
    - Car Body Types
    - Image Points
    - Carousel
    - News
    - Calculator
7. Blog
    - Blog
    - Post
    - Comments
8. Footer

---------------------------------------------------------------------------------------------------------------------------------------------*/






:root {
  --main-color: #d3ad7f;
  --yellow: #e9ea0c;
  --green: #013220;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --text-color: #444;
  --bg1: #f4f4f4;
  --bg2: #f5f5f5;
/*  --linear-gradient:   background: linear-gradient(rgba(1, 50, 32, 0.4), rgba(1, 50, 32, 0.4));*/
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  background: var(--bg1);
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  width: 100%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--text-color);
}


section {
  padding: 3rem 7%;
}

.heading {
  text-align: center;
  color: var(--text-color);
  padding: 0.5rem;
}


/*Input buttons*/

.overlay,
.relative {
    position: relative;
}

.overlay:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.9);
}

.overlay * {
    z-index: 2;
    position: relative;
}


/*Underline*/
.underline-small {

  width: 20%;
  height: 5px;
  background-color: var(--green);
  display: inline-block;
  margin-bottom: 20px;
}
/*End Underline*/

/*Scrollbar*/
::-webkit-scrollbar {
  width: 0.8em;
  height: 2em;
}

::-webkit-scrollbar-track {
  background: #e8eae3;
  border-radius: 100vw;
  margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 100vw;
  border: .05em solid #e8eae3;

}

/*** 02. hero section ***/
.home-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/Buffalo-Reflection-1.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.conservation-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/hwange1.jpeg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.about-hero-section{
  position: relative;
  height: 100vh;
  background: url(../images/site1.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.hero-inner{
  max-width: 500px;
  position: relative;
}

.hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero-inner h3 {
  color: white;
  margin-bottom: 40px;
}

.hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}

/**03-Welcome Section**/

.welcome-sec {
  /*padding: 80px;*/
  background: var(--green);
  color: var(--bg1);
}

.park-welcome-sec {
  /*padding: 80px;*/
  background: var(--bg1);
  color: var(--text-color);
}

.welcome-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.park-welcome-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content .welcome-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.park-welcome-content .welcome-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.welcome-content .welcome-image img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.park-welcome-content .welcome-image img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-content .welcome-text-box {
  z-index: 222;
  margin-left: 50px;
  width: 500px;
  color: var(--bg1);
}

/*parks.html*/
.park-welcome-content .park-welcome-text-box {
  z-index: 222;
  margin-left: 50px;
  margin-right: 30px;
  text-align: left;
  width: 500px;
  color: var(--text-color);
}

.welcome-text-box .underline-small {

  width: 20%;
  height: 5px;
  background-color: var(--bg1);
  display: inline-block;
  margin-bottom: 20px;
}

.welcome-content .welcome-text-box h3 {
  font-size: 2em;
  margin-bottom: 50px;
  text-align: center;
}

.welcome-content .welcome-text-box h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30pxpx;
}

.welcome-text-box > .btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #e9ea0c;
  border: none;
  border-radius: 25px;
  color: var(--text-color);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

/**04-Our Parks Section**/

.site-slider-two{
  position: relative;
  width: 940px;

}

.site-slider-two .products{
  height: 270px;
  width: 300px;
  position: relative;
  overflow: hidden;

}  

.site-slider-two .products img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  border: 1px solid var(--bg2);
}

.site-btn.btn-span{
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--border, #2b303218);
  background-color: white;
  color: var(--light-gray, #2b3032a1);

}

.slider-two .slick-track .products:hover span{
 background-color: var(--green); 
}

.site-slider-two .slider-btn .prev,
.site-slider-two .slider-btn .next{
    color: var(--green);
    margin: 0 1rem;
    opacity: 1;
    transition:opacity 1s ease;
}

.site-slider-two:hover .slider-btn .prev,
.site-slider-two:hover .slider-btn .next{
    opacity: 1;
}

.position-top{
  position: absolute;
  top: 50%;
}

.right-0{
  right:-40px;
}

.left-0 {
  left: -40px;
}




/**05-Explore More**/

.explore-more-sec {
  /*margin-bottom: 80px;*/
  background: #ffffff;
}

.explore-more-textbox {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.explore-more-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.explore-more-textbox {
 width: 500px;
}

.explore-more-textbox .underline-small {
  width: 20%;
  height: 5px;
  background-color: var(--green);
  display: inline-block;
}

.explore-more-textbox h1 {
  font-size: 1.5em;
}

.explore-more-textbox h3 {

  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
}


.explore-more-card {
  position: relative;
  background: var(--bg1);
  width: 270px;
  height: 250px;
  margin: 10px;
}

.explore-more-image {
  background-color: #000;
  height: 250px;
  width: 100%;
  background-size: cover;
}

.explore-card-1 {
  background-image: url(../images/CAMP-SITE-1.png);

}

.explore-card-2 {
  background-image: url(../images/nyanga2.jpg);
  
}

.explore-card-3 {
  background-image: url(../images/Bungee-Jump-at-Victoria-Falls.jpg);
  
}

.explore-image-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore-image-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

}

.explore-image-description {
  font-size: 17px;
  width: 80%;
  text-transform: lowercase;
  margin-top: 1.75em;

}

.explore-image-overlay .underline-small {
  width: 50%;
  margin-top: 10px;
  height: 1px;
  background-color: var(--bg2);
  display: inline-block;
}

/*End Explore More*/

/**06-News Update**/
.featured-section {
  /*margin-top: 20px;*/
  background: var(--bg1);
}

.featured-box {
  padding: 20px 25px 15px;
  box-shadow: 2px 2px 90px rgba(1, 50, 32, 0.45);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 3px;
  text-align: center;
  background: var(--green);
}

.featured-box i {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: var(--bg1);
  background: var(--green);
  font-size: 40px;
  border-radius: 50%;
}

.featured-box span {
  display: inline-block;
  margin: 10px 0 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.featured-box .read-more {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.featured-box p {
  font-size: 14px;
}

.featured-box,
.featured-box i,
.featured-box p,
.featured-box span {
  transition: 0.5s;
  color: #e6e2dd;
}

.featured-box:hover {
  background: var(--green);
}

.featured-box:hover i {
  background: white;
  color: var(--green);
}

.featured-box:hover p,
.featured-box:hover h3,
.featured-box:hover h3 a,
.featured-box:hover span {
  color: white;
}

/**06-Statistics Section**/

.statistics {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-card {
  background-image: linear-gradient(to right, #e8eae3 40%, #e6e2dd);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  position: relative;
  box-shadow: rgba(230, 226, 221, 0.3);
}

.stats-info-heading {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.stats-info-description {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.stats-info-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #373833;
  background-color: #e9ea0c;
  padding: 1.5rem;
  transition: all 0.5s;
}

.stats-info-button:hover {
  box-shadow: 0 0 1.5rem rgba(230, 226, 221, 0.3);
}

.stats-info-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 5rem;
  position: relative;
}

.stats-info-right::before,
.stats-info-right::after {
  content: "";
  background-color: rgba(29, 29, 28, 0.3);
  position: absolute;
  top: 50%;
}

.stats-info-right::before {
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}

.stats-info-right::after {
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stat-group {
  padding: 2.5rem;
}

.stat-number {
  font-size: 2.6rem;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

.stat-name {
  text-transform: uppercase;
  font-size: 12px;
}

/**07-Footer Section*/
footer {
  margin-top: 150px;
  width: 100%;
  position: absolute;
  background: var(--green);
  color: var(--bg2);
  padding: 100px 0 30;
  font-size: 16px;
  line-height: 20px;
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
  flex-basis: 15%;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
}
/*footer search*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #e8dd13;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 30px;
  border: 1px solid #e8dd13;
  background: #e8dd13;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.footer-col h3 {
  color: white;
  font-size: 15px;
  font-weight: 250;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

footer form .far {
  font-size: 18px;
  margin-right: 10px;
}

footer form input {
  width: 100%;
  background: transparent;
  color: #fff;
  border: 0;
  outline: none;
}

footer form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

footer form button .fas {
  font-size: 16px;
  color: #fff;
}

.social-icons .fab {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  color: #000;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 10px 50px;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #1c5e3c;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #e8dd13;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

.second {
  margin-top: 100px;
}

/*{
    End of Footer Section*/






/*KEYFRAMES*/
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}


