:root {
  --main-color: #d3ad7f;
  --yellow: #e9ea0c;
  --green: #013220;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --text-color: #444;
  --bg1: #f4f4f4;
  --bg2: #f5f5f5;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  background: var(--bg1);
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--text-color);
}

/*Underline*/
.underline-small {

  width: 20%;
  height: 5px;
  background-color: var(--green);
  display: inline-block;
  margin-bottom: 20px;
}
/*End Underline*/

/*Scrollbar*/



::-webkit-scrollbar {
  width: 0.8em;
  height: 2em;
}

::-webkit-scrollbar-track {
  background: #e8eae3;
  border-radius: 100vw;
  margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 100vw;
  border: .05em solid #e8eae3;

}

/*End Scrollbar*/

/*Home Banner*/
.home-banner {
  min-height: 100vh;
  width: 100%;
  background: url("../images/Buffalo-Reflection-1.jpg") no-repeat top center /
    cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(1, 50, 32, 0.4), rgba(1, 50, 32, 0.4));
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 50rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;
}

.inner > .btn {
  margin-top: 5rem;
  padding: 0.6rem 1.8rem;
  background-color: #e9ea0c;
  border: none;
  border-radius: 25px;
  color: #373833;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
/*End Home Banner*/

/*Header*/
.logo > img {
  height: 5rem;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  /*background: var(--green);*/
  height: 80px;
  box-shadow: 0 5px 10px rgba(1, 50, 32, 0.1);
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .responsive-navbar ul{
  list-style: none;

}

header .responsive-navbar ul li {
  position: relative;
  float: left;
}

.responsive-navbar ul li::after {
content: '';
height: 3px;
width: 0;
background: var(--green);
position: absolute;
left: 0;
bottom: -10px;
}

header .responsive-navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  color: var(--bg1);
  display: block;
}

header .responsive-navbar ul li a:hover {
  background: var(--green);
  color: var(--bg2);
}

header .responsive-navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: var(--green);
  display: none;
}

header .responsive-navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .responsive-navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .responsive-navbar ul li:focus-within > ul, 
header .responsive-navbar ul li:hover > ul {
  display: initial;
}


.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  top: 35px;
  width: 1.9rem;
  height: 2.5px;
  border-radius: 2px;
  background-color: #fff;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
content: "";
position: absolute;
width: inherit;
height: inherit;
background-color: #fff;
transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.nav-container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.nav-container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.nav-container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

#menu-bar {
  display: none;
}
/*End Haeder*/


/*Welcome Section*/

.welcome-sec {
  padding: 80px;
  background: var(--green);
  color: var(--bg1);
}

.welcome-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content .welcome-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.welcome-content .welcome-image img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-content .welcome-text-box {
  z-index: 222;
  margin-left: 50px;
  width: 500px;
}

.welcome-text-box .underline-small {

  width: 20%;
  height: 5px;
  background-color: var(--bg1);
  display: inline-block;
  margin-bottom: 20px;
}

.welcome-content .welcome-text-box h3 {
  font-size: 2em;
  margin-bottom: 50px;
  text-align: center;
}

.welcome-content .welcome-text-box h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}



.welcome-text-box > .btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #e9ea0c;
  border: none;
  border-radius: 25px;
  color: var(--text-color);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

/*End Welcome Section*/

/*Our Parks Section*/

.our-parks-sec {
  margin-top: 20px;
  margin-bottom: 80px;
}

.our-parks-sec .explore-more-textbox {

  justify-content: center;
  align-items: center;
  text-align: center;
}


.wgh-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.wgh-slider {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.wgh-slider__viewport {
  position: relative;
  height: 100%;
  width: 100%;
}
.wgh-slider__viewbox {
  display: block;
  position: relative;
  perspective: 100vw;
  margin: 0 auto;
  width: 33.3333333333%;
  max-width: 280px;
  transform-style: preserve-3d;
  z-index: 0;
}
.wgh-slider__viewbox::before {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  content: "";
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
.wgh-slider__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  transform-style: preserve-3d;
}
.wgh-slider-target {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
input.wgh-slider-target {
  display: none;
}

.wgh-slider-target:first-of-type:last-of-type ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__trigger {
  display: none;
}
.wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(0%);
}
.wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(-50%);
}
.wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(-100%);
}
.wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(-150%);
}
.wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(-200%);
}
.wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(-250%);
}
.wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(-300%);
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider__container {
  transform: translateX(-350%);
}
.wgh-slider-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) rotateY(45deg);
  transition: transform 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
}
.wgh-slider-item:nth-child(1) {
  left: 0%;
}
.wgh-slider-item:nth-child(2) {
  left: 50%;
}
.wgh-slider-item:nth-child(3) {
  left: 100%;
}
.wgh-slider-item:nth-child(4) {
  left: 150%;
}
.wgh-slider-item:nth-child(5) {
  left: 200%;
}
.wgh-slider-item:nth-child(6) {
  left: 250%;
}
.wgh-slider-item:nth-child(7) {
  left: 300%;
}
.wgh-slider-item:nth-child(8) {
  left: 350%;
}
.wgh-slider-item__trigger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: pointer;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__trigger {
  display: none;
}
.wgh-slider-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(0.75);
  transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0s;
  z-index: 10;
}
.wgh-slider-item__inner::before, .wgh-slider-item__inner::after {
  display: block;
  position: absolute;
  content: "";
}
.wgh-slider-item__inner::before {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  z-index: 0;
  transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
  transform: translate(-24px, 12px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.wgh-slider-item__inner::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 50%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  background-size: 200% 100%;
  background-position: 0% 0%;
  transition: background-position 0.3s linear;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner {
  transform: scale(1);
  transition-delay: 0.6s;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner::before {
  transform: translate(0, 24px);
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner::after {
  background-position: -50% 0%;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item .wgh-slider-item__inner::before {
  transform: translate(24px, 12px);
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item .wgh-slider-item__inner::after {
  background-position: -100% 0%;
}
.wgh-slider-item-figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wgh-slider-item-figure__image {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}
.wgh-slider-item-figure__caption {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 24px;
  background-image: linear-gradient(0deg, #000 0%, transparent 100%);
  z-index: 2;
}
.wgh-slider-item-figure__caption a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}
.wgh-slider-item-figure__caption span {
  display: block;
  font-size: 14px;
  line-height: 16px;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8), .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7), .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6), .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5), .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4), .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3), .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2), .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) {
  transform: translate3d(0, 0, 0) rotateY(0deg);
  z-index: 9999;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item {
  transform: translate3d(0, 0, 0) rotateY(-45deg) !important;
}




/*End Our Parks Section*/

/*Explore More*/

.explore-more-sec {
  margin-bottom: 80px;
}

.explore-more-sec .explore-more-textbox {

  justify-content: center;
  align-items: center;
  text-align: center;
}

.explore-more-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.explore-more-textbox {
 margin-left: 120px;
 width: 500px;
}

.explore-more-textbox .underline-small {
  width: 20%;
  height: 5px;
  background-color: var(--green);
  display: inline-block;
}

.explore-more-textbox h1 {
  font-size: 1.5em;
}

.explore-more-card {
  position: relative;
  background: var(--bg1);
  width: 300px;
  height: 350px;
  margin: 10px;
}

.explore-more-image {
  background-color: #000;
  height: 350px;
  width: 100%;
  background-size: cover;
}

.explore-card-1 {
  background-image: url(../images/CAMP-SITE-1.png);

}

.explore-card-2 {
  background-image: url(../images/nyanga2.jpg);
  
}

.explore-card-3 {
  background-image: url(../images/Bungee-Jump-at-Victoria-Falls.jpg);
  
}

.explore-image-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 50, 32, 0.3);
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore-image-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

}

.explore-image-description {
  font-size: 17px;
  width: 80%;
  text-transform: lowercase;
  margin-top: 1.75em;

}

.explore-image-overlay .underline-small {
  width: 50%;
  margin-top: 10px;
  height: 1px;
  background-color: var(--bg2);
  display: inline-block;
}

/*End Explore More*/

/*News Update*/
.featured-section {
  margin-top: 20px;
}

.featured-box {
  padding: 40px 50px 30px;
  box-shadow: 2px 2px 90px rgba(218, 218, 218, 0.45);
  margin-bottom: 30px;
  border-radius: 3px;
  text-align: center;
  background: var(--green);
}

.featured-box i {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: var(--bg1);
  background: var(--green);
  font-size: 40px;
  border-radius: 50%;
}

.featured-box span {
  display: inline-block;
  margin: 10px 0 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.featured-box .read-more {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.featured-box p {
  font-size: 14px;
}

.featured-box,
.featured-box i,
.featured-box p,
.featured-box span {
  transition: 0.5s;
  color: #e6e2dd;
}

.featured-box:hover {
  background: var(--green);
}

.featured-box:hover i {
  background: white;
  color: var(--green);
}

.featured-box:hover p,
.featured-box:hover h3,
.featured-box:hover h3 a,
.featured-box:hover span {
  color: white;
}


/*End News Update*/




/*Statistics Section*/

.statistics {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-card {
  background-image: linear-gradient(to right, #e8eae3 40%, #e6e2dd);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  position: relative;
  box-shadow: rgba(230, 226, 221, 0.3);
}

.stats-info-heading {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.stats-info-description {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.stats-info-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #373833;
  background-color: #e9ea0c;
  padding: 1.5rem;
  transition: all 0.5s;
}

.stats-info-button:hover {
  box-shadow: 0 0 1.5rem rgba(230, 226, 221, 0.3);
}

.stats-info-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 5rem;
  position: relative;
}

.stats-info-right::before,
.stats-info-right::after {
  content: "";
  background-color: rgba(29, 29, 28, 0.3);
  position: absolute;
  top: 50%;
}

.stats-info-right::before {
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}

.stats-info-right::after {
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stat-group {
  padding: 2.5rem;
}

.stat-number {
  font-size: 2.6rem;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

.stat-name {
  text-transform: uppercase;
  font-size: 12px;
}

/*Footer Section*/
footer {
  margin-top: 150px;
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #013220, #1c5e3c);
  color: var(--bg2);
  padding: 100px 0 30;
  font-size: 16px;
  line-height: 20px;
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
  flex-basis: 15%;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
}
/*footer search*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #e8dd13;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 30px;
  border: 1px solid #e8dd13;
  background: #e8dd13;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.footer-col h3 {
  color: white;
  font-size: 15px;
  font-weight: 250;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

footer form .far {
  font-size: 18px;
  margin-right: 10px;
}

footer form input {
  width: 100%;
  background: transparent;
  color: #fff;
  border: 0;
  outline: none;
}

footer form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

footer form button .fas {
  font-size: 16px;
  color: #fff;
}

.social-icons .fab {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  color: #000;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 10px 50px;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #1c5e3c;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #e8dd13;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

.second {
  margin-top: 100px;
}

/*{
    End of Footer Section*/

/*KEYFRAMES*/
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@media screen and (min-width: 760px) {
  .map-left,
  .map-right {
    height: 100vh;
  }

  .map-left {
    background: url(/assets/images/map.png) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
  }

  .map-right {
    align-items: center;
  }

  .map-right img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
}
