/*font family*/

@font-face {
    font-family: 'Great Vibes', cursive;
    src: local('./fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'parisienneregular';
    src: url('./webfonts/parisienne/parisienne-regular-webfont.woff') format('woff2'),
         url('./webfonts/parisienne/parisienne-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'nanummyeongjoregular';
    src: url('./webfonts/nanum/nanummyeongjo-regular-webfont.woff') format('woff2'),
         url('./webfonts/nanum/nanummyeongjo-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'latoblack';
    src: url('./webfonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('./webfonts/lato/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.woff2') format('woff2'),
         url('lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'latoregular';
    src: url('./webfonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('./webfonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  /*End font family*/
  
  /*--------------------------------------------------------------------------------------------------------------------------------------------*/
  
  :root {
    --main-color: #d3ad7f;
    --yellow: #e9ea0c;
    --green: #013220;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --white: #ffffff;
    --text-color: #45433e;
    --heading-text-color: #19171a;
    --bg1: #ffffff;
    --bg2: #f6f6f6;
  /*   --great-vibes: 'Great Vibes', cursive;
    --open-sans: 'Open Sans', sans-serif;
    --nanum: 'Nanum Myeongjo', serif;
    --parisienne: 'Parisienne', cursive; 
    --lato: 'Lato', sans-serif;
   --linear-gradient:   background: linear-gradient(rgba(1, 50, 32, 0.4), rgba(1, 50, 32, 0.4));*/
  }
  
  * {
    font-family: 'latoregular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s linear;
  
    color: var(--heading-text-color);
  }

  body.background-1 {
    background: var(--bg1);
}
  
  html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  
  h1 {
    font-size: 48px;
    line-height: 1.25;
  }
  
  h2 {
    font-size: 36px;
    line-height: 1.3;
  }
  
  h3 {
    font-size: 24px;
    line-height: 1.5;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 16px;
  }
  
  h6 {
    font-size: 14px;
  }
  
  ol,
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: none;
    
  }

  .container-about .gallery-item img {
     width: 100%;
     height: auto;
  }

  .rotated {
    transform: rotate(270deg);
  }

  

.container-about > ul {
 
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-bottom: 10px;
}

.container-about ul li {
  display: list-item;
  list-style: disc;
}

.container-about > ol {
 
  display: block;
 
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-bottom: 10px;
}

.container-about ol li {
  display: list-item;
  list-style: decimal;
  padding-left: 10px;
}

.container-about ol li.roman {
  display: list-item;
  list-style: lower-roman;
  font-style: italic;
}

  p {
    text-transform: none;
    font-size: 16px;
  }
  
  .page-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

  .gallery-pad {
      margin-bottom: 20px;
  }


  
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    color: var(--text-color);
  }
  
  section {
    padding: 3rem 5%;
  }
  
  .heading {
    text-align: center;
    color: var(--heading-text-color);
    padding: 0.5rem;
    word-spacing: 20px;
  }
  
  h5.heading-two {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    color: var(--heading-text-color);
    padding: 0.5rem;
    font-family: 'parisienneregular';
  }
  
  a:hover,
  a:focus,
  a:visited {
    outline: none;
    text-decoration: none;
  }
  
  span.parisienne {
    font-family: 'parisienneregular';
  }

  span.latoblack {
    font-family: 'latoblack';
  }


  
  /*Input buttons*/
  .overlay,
  .relative {
      position: relative;
  }
  
  .overlay:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0.5;
      background: rgba(0, 0, 0, 0.9);
  }
  
  .overlay * {
      z-index: 2;
      position: relative;
  }
  
  /*Underline*/
  .underline-small {
    width: 20%;
    height: 5px;
    background-color: var(--green);
    display: inline-block;
    margin-bottom: 20px;
  }
  /*End Underline*/
  
  /*Scrollbar*/
  ::-webkit-scrollbar {
    width: 0.8em;
    height: 2em;
  }
  
  ::-webkit-scrollbar-track {
    background: #e8eae3;
    border-radius: 100vw;
    margin-block: 0.1em;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 100vw;
    border: .05em solid #e8eae3;
  }
  
  /*social media links*/
  
  nav.socials {
    position: fixed;
    width: 35px;
    margin-top: 150px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.45);
    z-index: 1000;
    color: #ffffff; 
  }
  
  nav.socials li {
    height: 40px;
    position: relative;
  
  }
  
  nav.socials li a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    transition: all 0.3s linear;
  }
  
  nav.socials li:nth-child(1) a{
    background: #4267B2;
  }
  
  nav.socials li:nth-child(2) a{
    background: #1da1f2;
  }
  
  nav.socials li:nth-child(3) a{
    background: #e1306c;
  }
  
  nav.socials li:nth-child(4) a{
    background: #ff0000;
  }
  
  nav.socials li:nth-child(5) a{
    background: #4267B2;
  }
  
  nav.socials li a i {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 18px;
  }
  
  nav.socials li a span {
    top: 40%;
    letter-spacing: 1px;
    display: none;
    left: 10px;
    font-size: 14px;
  }
  /*
  nav.socials a:hover {
    z-index: 1;
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  nav.socials ul li a:hover span {
    display: block;
    padding-left: 30%;
    top: 0%;
  } */

  .py-4{
    padding: 4rem 0;
}

.title-wrap{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.lg-title{
    font-size: 1.8rem;
}
.sm-title{
    display: block;
    color: #787878;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
}

.shadow:hover{
  -webkit-box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
          box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
}



/*Gallery in GMTFCA*/


/* gallery */
.gallery-item{
  margin: 2rem 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  cursor: pointer;
}
.gallery-item::after{
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.gallery-item img{
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}
.gallery-item:hover img{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.zoom-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  z-index: 2;
  opacity: 0;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}
.gallery-item:hover .zoom-icon{
  opacity: 1;
}
/* img modal box */
#img-modal-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: none;
}
#img-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
}
#img-mdoal img{
  max-width: 100%;
  height: 100%;
}
#img-modal-box button{
  position: absolute;
  font-size: 1.4rem;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  border: none;
}
#img-modal-box button:hover{
  opacity: 0.9;
}
#modal-close-btn{
  top: -17.5px;
  right: -17.5px;
  z-index: 999;
}
#next-btn{
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
#prev-btn{
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
#next-btn:hover, #prev-btn:hover{
  background-color: var(--dark);
  color: #fff;
}

/* popular section */
#popular.py-4{
  padding-bottom: 0;
}
.popular-item{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}
.popular-item::after{
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.popular-item div{
  position: absolute;
  color: #fff;
  z-index: 2;
  bottom: -100%;
  width: 100%;
  padding: 2rem;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}
.popular-item .rating{
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0.7rem 0;
  font-size: 0.9rem;
  opacity: 0.8;
  padding: 0;
}
.popular-item:hover div{
  background-color: #fff;
  color: #000;
  bottom: 0;
  opacity: 0.95;
}

@media screen and (min-width: 768px) {
  .gallery-row, .popular-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .gallery-item {
      margin: 0;
  }

  .popular-row {
      gap: 0;
  }
}

@media screen and (min-width: 992px) {
  .popular-row {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .gallery-row{
      grid-template-columns: repeat(3, 1fr);
  }

  .popular-row {
      grid-template-columns: repeat(4, 1fr);
  }
}







/*Footer*/
/*********footer*******************/
.kilimanjaro_area {
  position: relative;

  top: 100px;
}
.foo_top_header_one {
  background-color: #013220;
  color: #fff;
}
.section_padding_100_70 {
  padding-top: 100px;
  padding-bottom: 70px;
}
.foo_top_header_one {
  color: #fff;
}
.kilimanjaro_part {
  margin-bottom: 30px;
}
.foo_top_header_one .kilimanjaro_part > h5 {
  color: #fff;
}
.kilimanjaro_part h4,
.kilimanjaro_part h5 {
  margin-bottom: 30px;
}
.kilimanjaro_single_contact_info > p,
.kilimanjaro_single_contact_info > h5,
.kilimanjaro_blog_area > a,
.foo_top_header_one .kilimanjaro_part > p {
  color: rgba(255, 255, 255, 0.5);
}
p,
ul li,
ol li {
  font-weight: 300;
}
ul {
  margin: 0;
  padding: 0;
}
.kilimanjaro_bottom_header_one {
  background-color: #111;
}
.section_padding_50 {
  padding: 50px 0;
}
.kilimanjaro_bottom_header_one p {
  color: #fff;
  margin: 0;
}
p,
ul li,
ol li {
  font-weight: 300;
}
.kilimanjaro_bottom_header_one a {
  color: inherit;
  font-size: 14px;
}
.kilimanjaro_area > a,
.kilimanjaro_area > h1,
.kilimanjaro_area > h2,
.kilimanjaro_area > h3,
.kilimanjaro_area > h4,
.kilimanjaro_area > h5,
.kilimanjaro_area > h6 {
  font-weight: 400;
}
.m-top-15 {
  margin-top: 15px;
}
ul {
  margin: 0;
  padding: 0;
}

.kilimanjaro_widget > li {
  display: inline-block;
}
 p,
ul li,
ol li {
  font-weight: 300;
}
ol li,
ul li {
  list-style: outside none none;
}
.kilimanjaro_widget a {
  border: 1px solid #333;
  border-radius: 6px;
  color: #888;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 4px;
  padding: 7px 12px;
}
ul {
  margin: 0;
  padding: 0;
}
.kilimanjaro_links a {
  border-bottom: 1px solid #333;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.kilimanjaro_links a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
top-15 {
  margin-top: 15px;
}
.foo_top_header_one .kilimanjaro_part > h5 {
  color: #fff;
}
.kilimanjaro_part h4,
.kilimanjaro_part h5 {
  margin-bottom: 30px;
}
.kilimanjaro_social_links > li {
  display: inline-block;
}

.kilimanjaro_social_links a {
  border: 1px solid #333;
  border-radius: 6px;
  color: #888;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 3px;
  padding: 7px 12px;
}
.kilimanjaro_blog_area .kilimanjaro_date {
  color: #27ae60;
  font-size: 13px;
  margin-bottom: 5px;
}
.kilimanjaro_blog_area > p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.3;
  margin-bottom: 0;
}
.kilimanjaro_works > a {
  display: inline-block;
  float: left;
  position: relative;
  width: 33.33333333%;
  z-index: 1;
}
.kilimanjaro_thumb {
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}
.kilimanjaro_links a i {
  padding-right: 10px;
}
/* :: 18.0 Footer Area CSS */

.footer_area {
  position: relative;
  z-index: 1;
}
.footer_bottom p > i,
.footer_bottom p > a:hover {
  color: #27ae60;
}

.social_links_area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  z-index: 1;
}
.social_links_area > a:hover {
  color: #27ae60;
}

.inline-style .social_links_area > a:hover {
  background-color: transparent;
  color: #27ae60;
  border: 0px solid transparent;
}
.single_feature:hover .feature_text h4 {
  color: #27ae60;
}
.kilimanjaro_blog_area {
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
  padding: 0 0 15px 90px;
  position: relative;
  z-index: 1;
}
.kilimanjaro_links a {
  border-bottom: 1px solid #333;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
