


.about-hero-section{
  position: relative;
  height: 95vh;
  background: url(/assets/images/banner-img/banner-1.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.about-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.about-hero-inner{
  max-width: 500px;
  position: relative;
}

.about-hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.about-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}



section h2 {
    text-align: center;
}

img {
  vertical-align: middle;
  border-style: none; 
}

/*About Us start area

#section-counter {
  position: relative;
  z-index: 0; 
}

#section-counter:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: 1;
    background: var(--green); 
}


.ftco-section {
  padding: 6em 0;
  position: relative; 
}

.ftco-counter {
  padding: 7em 0; 
}

.ftco-counter .text strong.number {
    font-weight: 400;
    font-size: 30px;
    color: #fff; 
}
  
.ftco-counter .text span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7); 
}

.ftco-counter .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: var(--green); 
}
  
.ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; 
}

*/


.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @media (min-width: 30em) {
    .band {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 60em) {
    .band {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  .card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  .card p {
    flex: 1;
    line-height: 1.4;
  }
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  @media (min-width: 60em) {
    .item-1 {
      grid-column: 1/span 2;
    }
    .item-1 h1 {
      font-size: 24px;
    }
  }

  /*OUR PARTNERS SECTION*/

  .our-partners {
      background: var(--green);
  }

  .our-partners h2 {
      color: var(--bg2);
  }

  /* Slider */
.slick-slide {
    margin: 0px 20px;
  }
  
  .customer-logos {
    overflow: inherit;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
  }
  
  .slick-slide img {
    width: 100%;
  }
  
  .slick-track::before,
  .slick-track::after {
    display: table;
    content: '';
  }
  
  .slick-track::after {
    clear: both;
  }
  
  .slick-track {
    padding: 1rem 0;
  }
  
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide.slick-loading img {
    display: none;
  }
  
  .slick-slide.dragging img {
    pointer-events: none;
  }
  
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  
  .slick-arrow {
    position: absolute;
    top: 50%;
    background: url("./arrow.svg") center no-repeat;
    color: #fff;
    filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
    border: none;
    width: 2rem;
    height: 1.5rem;
    text-indent: -10000px;
    margin-top: -16px;
    z-index: 99;
  }
  
  .slick-arrow.slick-next {
    right: -40px;
    transform: rotate(180deg);
  }
  
  .slick-arrow.slick-prev {
    left: -40px;
  }
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .slick-arrow {
      width: 1rem;
      height: 1rem;
    }
  }
  
  .row {
    overflow: hidden;
  }  
  
  /* JsFiddle Example only/don't use */
  .customer-logos {
    margin-top: 32px;
  }


  /*About STAT*/
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; 
    } 
}

@media (min-width: 768px) {
    .ftco-section .container-fluid {
      padding: 0 4em; 
    } 
}

@media (max-width: 767.98px) {
        .ftco-counter .counter-wrap {
          margin-bottom: 20px; 
        } 
}