:root {
    --main-color: #d3ad7f;
    --yellow: #e9ea0c;
    --green: #013220;
    --green2: #063b04;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --white: #ffffff;
    --text-color: #444;
    --bg1: #e8eae3;
    --bg2: #f5f5f5;
  /*   --great-vibes: 'Great Vibes', cursive;
    --open-sans: 'Open Sans', sans-serif;
    --nanum: 'Nanum Myeongjo', serif;
    --parisienne: 'Parisienne', cursive; 
    --lato: 'Lato', sans-serif;
   --linear-gradient:   background: linear-gradient(rgba(1, 50, 32, 0.4), rgba(1, 50, 32, 0.4));*/
  }

/*Horizontal Tabs*/
/*Horizontal tabs available on all parks webpages
consists of Overview, Accomodation, etc          */

/*National Parks*/
.nationalparks-hero-section{
  position: relative;
  height: 90vh;
  background: url(/images/slider-images/chizarira-1.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.nationalparks-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.nationalparks-hero-inner{
  max-width: 500px;
  position: relative;
}

.nationalparks-hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.nationalparks-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.nationalparks-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}

/*Recreational Parks*/
.recparks-hero-section{
  position: relative;
  height: 90vh;
  background: url(/images/banner-img/banner-9.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.recparks-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.recparks-hero-inner{
  max-width: 500px;
  position: relative;
}

.recparks-hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.recparks-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.recparks-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}

/*Botanical Gardens*/
.botanical-hero-section{
  position: relative;
  height: 90vh;
  background: url(/images/banner-img/banner-10.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.botanical-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.botanical-hero-inner{
  max-width: 500px;
  position: relative;
}

.botanical-hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.botanical-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.botanical-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}

/*Safari Areas*/
.safari-hero-section{
  position: relative;
  height: 90vh;
  background: url(/images/banner-img/banner-5.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.safari-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.safari-hero-inner{
  max-width: 500px;
  position: relative;
}

.safari-hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.safari-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.safari-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}

/*Sanctuaries*/
.sanctuaries-hero-section{
  position: relative;
  height: 90vh;
  background: url(/images/banner-img/banner-5.JPG); /*background image*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.sanctuaries-hero-section:before{
  opacity: 0.35;
  background: rgba(0, 0, 0, 0.45);
}

.sanctuaries-hero-inner{
  max-width: 500px;
  position: relative;
}

.sanctuaries-hero-inner h1{
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sanctuaries-hero-inner h5 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 5px;
}

.sanctuaries-hero-inner .sub-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--green);
}



.tab-wrap {
    font-size: 16px;
    font-weight: 100px;
    color: var();
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: var(--bg2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .tab-wrap:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
  }
  
  .tab {
    display: none;

  }
  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  
  .tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  
  .tab:checked:nth-of-type(7) ~ .tab__content:nth-of-type(7) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }

  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }

  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .tab:checked + label {
    background-color: var(--green);
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    color: #e8eae3;
  }
  .tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: var(--green);
    color: #e8eae3;
  }
  .tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 5;
    text-align: center;
    background-color: var(--bg1);
    border-bottom: 1px dotted #013220;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 300;
  }
  .tab + label:hover {
    color: #f4f4f4;
    background-color: var(--green);
    box-shadow: 0 1px 0 #f4f4f4 inset;
  }
  .tab__content {
    padding: 3rem 7%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
  }
  
  /* boring stuff */

  
.tab-wrap {
    font-size: 16px;
    font-weight: 100px;
    color: var();
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: var(--bg2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .tab-wrap:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
  }
  
  .tab {
    display: none;

  }
  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  
  .tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  
  .tab:checked:nth-of-type(7) ~ .tab__content:nth-of-type(7) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }

  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }

  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .tab:checked + label {
    background-color: var(--green);
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    color: #e8eae3;
  }
  .tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: var(--green);
    color: #e8eae3;
  }
  .tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 7;
    text-align: center;
    background-color: var(--bg1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 2rem;
    font-size: 18px;
    font-weight: 700;
  }
  .tab + label:hover {
    color: #f4f4f4;
    background-color: var(--green);
    box-shadow: 0 1px 0 #f4f4f4 inset;
  }
  .tab__content {
    padding: 3rem 7%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
  }
  
  /* boring stuff */

/*Tabs under Overview*/
  
.tab-wrap-2 {
    font-size: 15px;
    font-weight: 100px;
    color: var(--bg2);
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: var(--green2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .tab-wrap-2:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
  }
  
  .tab-2 {
    display: none;

  }
  .tab-2:checked:nth-of-type(1) ~ .tab__content-2:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab-2:checked:nth-of-type(2) ~ .tab__content-2:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab-2:checked:nth-of-type(3) ~ .tab__content-2:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab-2:checked:nth-of-type(4) ~ .tab__content-2:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab-2:checked:nth-of-type(5) ~ .tab__content-2:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }


  .tab-2:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .tab-2:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }

  .tab-2:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .tab-2:checked + label {
    background-color: var(--green2);
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    color: #e8eae3;
  }
  .tab-2:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: var(--green2);
    color: #e8eae3;
  }
  .tab-2 + label {
    box-shadow: 0 -1px 0 #eee inset;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 7;
    text-align: center;
    background-color: var(--bg1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 2rem;
    font-size: 18px;
    font-weight: 700;
  }
  .tab-2 + label:hover {
    color: #f4f4f4;
    background-color: var(--green2);
    box-shadow: 0 1px 0 #f4f4f4 inset;
  }
  .tab__content-2 {
    padding: 3rem 7%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
    word-spacing: 5px;
    text-transform: none;
  }

  /*Tabs under Accomodation*/

  .tab-wrap-3 {
    font-size: 15px;
    font-weight: 100px;
    color: var(--bg2);
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: var(--green2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .tab-wrap-3:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
  }
  
  .tab-3 {
    display: none;

  }
  .tab-3:checked:nth-of-type(1) ~ .tab__content-3:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }

  .tab-3:checked:nth-of-type(2) ~ .tab__content-3:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab-3:checked:nth-of-type(3) ~ .tab__content-3:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab-3:checked:nth-of-type(4) ~ .tab__content-3:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }

  .tab-3:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .tab-3:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }

  .tab-3:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .tab-3:checked + label {
    background-color: var(--green2);
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    color: #e8eae3;
  }
  .tab-3:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: var(--green2);
    color: #e8eae3;
  }
  .tab-3 + label {
    box-shadow: 0 -1px 0 #eee inset;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 7;
    text-align: center;
    background-color: var(--bg1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 2rem;
    font-size: 18px;
    font-weight: 700;
  }
  .tab-3 + label:hover {
    color: #f4f4f4;
    background-color: var(--green2);
    box-shadow: 0 1px 0 #f4f4f4 inset;
  }
  .tab__content-3 {
    padding: 3rem 7%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
  }

  /*Accomodation Section*/

  .parks-tab-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  }
  
  .parks-tab-container .parks-tab-box {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 2.5rem;
  }
  
  .parks-tab-container .parks-tab-box .parks-tab-imgBox {
    transform: translate(0, -1.8rem);
  }
  
  .parks-tab-container .parks-tab-box .parks-tab-content {
    transform: translate(0, 1.8rem);
  }
  
  .parks-tab-imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  
  .parks-tab-imgBox img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    resize: both;
  }
  
  .parks-tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  
  .parks-tab-content a {
    display: block;
    font-size: 18px;
    color: #111;
    font-weight: 500;
    line-height: 0.5rem;
    letter-spacing: 1px;
  }

  .single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
  }

  .section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
  }
  

  
  @media (max-width: 600px) {
    .parks-tab-container .parks-tab-box:hover .parks-tab-content {
      transform: translate(0, 1.5rem);
    }
    .parks-tab-container .parks-tab-box:hover .parks-tab-imgBox {
      transform: translate(0, -1.5rem);
    }
  }
  
  
  
  
  
  
  